<section class="pt-2 pb-2 d-flex justify-content-between">
    <button mat-stroked-button color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view"
        (viewDateChange)="getMonthActivities($event)">
        <mat-icon>arrow_left</mat-icon>
        {{ 'activity_calendar.previous' | translate }}
    </button>
    <button mat-stroked-button color="accent" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="getMonthActivities($event)">
        {{ 'activity_calendar.current' | translate }}
    </button>
    <button mat-stroked-button color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">
        {{ 'activity_calendar.next' | translate }}
        <mat-icon>arrow_right</mat-icon>
    </button>
</section>

<div class="d-flex justify-content-center" *ngIf="activityCalendar.gettingActivities$ | async">
    <mat-spinner color="primary" [diameter]="35"></mat-spinner>
</div>

<mwl-calendar-month-view *ngIf="!(activityCalendar.gettingActivities$ | async)" [viewDate]="viewDate"
    [events]="calendarEvents" (dayClicked)="dayClicked($event.day)" [headerTemplate]="headerTemplate"
    [activeDayIsOpen]="showEventsFromDay">
</mwl-calendar-month-view>

<ng-template #headerTemplate>
    <div class="text-bold d-flex justify-content-center">{{ viewDate | date: 'MMM YYYY' }}</div>
</ng-template>