<section class="pt-2 pb-2 d-flex justify-content-between">
    <button mat-button color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view"
        (viewDateChange)="getMonthActivities($event)">
        <mat-icon>arrow_left</mat-icon>
        {{ 'activity_calendar.previous' | translate }}
    </button>
    <button mat-button color="accent" mwlCalendarToday [(viewDate)]="viewDate">
        {{ 'activity_calendar.current' | translate }}
    </button>
    <button mat-button color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view"
        (viewDateChange)="getMonthActivities($event)">
        {{ 'activity_calendar.next' | translate }}
        <mat-icon>arrow_right</mat-icon>
    </button>
</section>

<mwl-calendar-month-view [viewDate]="viewDate" [events]="calendarEvents" (dayClicked)="dayClicked($event.day)"
    [headerTemplate]="headerTemplate" [activeDayIsOpen]="showEventsFromDay">
</mwl-calendar-month-view>

<ng-template #headerTemplate>
    <div class="text-bold d-flex justify-content-center">{{ viewDate | date: 'MMM YYYY' }}</div>
</ng-template>