@use "src/app/styles/colors" as colors;

.view-nav-btn {
    font-weight: 400 !important;

    color: rgba(67, 63, 63, 0.9) !important;
    .mat-icon {
        color: rgba(67, 63, 63, 0.9) !important;
    }
}

.view-nav-btn.mat-button:hover {
    .mat-icon {
        transform: scale(1.15);
    }
}

.active-nav-btn {
    @media only screen and (max-width: 600px) {
        border-radius: 50px 50px 50px 50px !important;
    }

    @media only screen and (min-width: 600px) {
        border-radius: 50px 50px 50px 50px !important;
    }

    background: colors.$accent-50 !important;
    color: colors.$accent !important;
    .mat-icon {
        color: colors.$accent !important;
    }
}
