<section>
    <h1 class="h1">
        <div *ngIf="!isEditMode">{{ 'property_upload.register_new' | translate }}</div>
        <div *ngIf="isEditMode">{{ 'property_upload.edit_property' | translate }}</div>
    </h1>

    <form #uploadForm="ngForm">
        <div class="row pb-4">
            <div class="col-12 pb-2">
                <div class="text-bold pb-2">{{ 'property_upload.owner_info' | translate }}</div>
                <mat-divider></mat-divider>
            </div>

            <!-- <mat-form-field class="col-12 col-sm-6" color="accent">
                <mat-label>{{ 'property_upload.owner_username' | translate }}</mat-label>
                <input matInput trim="blur" type="text" name="ownerUsername" [(ngModel)]="property.owner!.username"
                    (ngModelChange)="property.ownerUsername = $event"
                    (blur)="checkIfOwnerAlreadyExists(property.ownerUsername?.trim() || '')">
            </mat-form-field> -->

            <ng-container *ngIf="!(property.owner?.contactName && property.owner?.contactInfo)">
                <mat-form-field class="col-12 col-sm-6" color="accent">
                    <mat-label>{{ 'property_upload.owner_contact_name' | translate }}</mat-label>
                    <input matInput trim="blur" type="text" name="ownerContactName"
                        [(ngModel)]="property.owner!.contactName">
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="property.owner?.contactName && property.owner?.contactInfo">
                <div class="col-12">
                    <label class="custom-label">{{ 'property_upload.owner_contact_name' | translate }}:</label>
                    <span class="ps-2">{{ property.owner!.contactName }}</span>
                </div>
                <div class="col-12">
                    <label class="custom-label">{{ 'property_upload.owner_contact_info' | translate }}:</label>
                    <span class="ps-2">{{ property.owner!.contactInfo }}</span>
                </div>
            </ng-container>
        </div>

        <div class="row">
            <div class="col-12 pb-1">
                <div class="text-bold pb-2">{{ 'property_upload.property_info' | translate }}</div>
                <mat-divider></mat-divider>
            </div>
            <mat-form-field class="col-12 col-sm-6" color="accent">
                <mat-label>{{ 'property_upload.property_name' | translate }}</mat-label>
                <input required matInput trim="blur" required type="text" name="name" [(ngModel)]="property.name">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-6" color="accent">
                <mat-label>{{ 'property_upload.address' | translate }}</mat-label>
                <input required matInput trim="blur" required type="text" name="address" [(ngModel)]="property.address">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-6 col-sm-3" color="accent">
                <mat-label>{{ 'property_upload.category' | translate }}</mat-label>
                <mat-select required name="category" [(ngModel)]="property.category" [disabled]="isEditMode">
                    <mat-option value="Apartment">{{ 'property_upload.apartment' | translate }}</mat-option>
                    <mat-option value="Villa">{{ 'property_upload.villa' | translate }}</mat-option>
                    <mat-option value="Townhouse">{{ 'property_upload.townhouse' | translate }}</mat-option>
                    <mat-option value="Commercial">{{ 'property_upload.commercial' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-6 col-sm-3" color="accent">
                <mat-label>{{ 'property_upload.subcategory' | translate }}</mat-label>
                <input matInput trim="blur" type="text" name="subcategory" [(ngModel)]="property.subcategory">
            </mat-form-field>
        </div>

        <div class="row pt-4">
            <div class="col-12 pb-1">
                <div class="text-bold pb-2">{{ 'property_upload.management_info' | translate }}</div>
                <mat-divider></mat-divider>
            </div>
            <mat-form-field class="col-6 col-sm-3" color="accent">
                <mat-label>{{ 'property_upload.start_date' | translate }}</mat-label>
                <input matInput required name="managementStartDate" [(ngModel)]="managementStartDate"
                    (ngModelChange)="property.managementStartDate = dateToTimestamp($event)"
                    [matDatepicker]="startDatePicker">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-6 col-sm-3" color="accent">
                <mat-label>{{ 'property_upload.end_date' | translate }}</mat-label>
                <input matInput required name="managementEndDate" [(ngModel)]="managementEndDate"
                    (ngModelChange)="property.managementEndDate = dateToTimestamp($event)"
                    [matDatepicker]="endDatePicker">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col- col-sm-6" color="accent">
                <mat-label>{{ 'property_upload.monthly_rent' | translate }}</mat-label>
                <input matInput trim="blur" required type="text" name="rentalPrice" [(ngModel)]="property.rentalPrice"
                    mask="separator" thousandSeparator=",">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="pt-1 pb-1">{{ 'property_upload.description' | translate }}</label>
                <div class="mat-form-field-wrapper">
                    <app-editor [text]="property.description!"
                        (textChange)="property.description = $event; uploadForm.form.markAsTouched()">
                    </app-editor>
                </div>
            </div>
        </div>

        <div class="row pt-5 pb-4">
            <div class="col-12">
                <mat-divider></mat-divider>
                <input name="uploadedFiles" #filesInput multiple hidden="true" type="file" onclick="this.value=null"
                    (change)="onFileUpload($event); uploadForm.form.markAsTouched();" />
                <button mat-button (click)="filesInput.click()">
                    <mat-icon color="accent">upload_file</mat-icon> {{ 'property_upload.upload_files' | translate }}
                </button>
                <div class="uploaded-files" cdkDropList
                    (cdkDropListDropped)="uploadedFileDrop($event); uploadForm.form.markAsTouched();">
                    <mat-card *ngFor="let doc of property.documents; let i = index;" cdkDrag>
                        <mat-card-content>
                            <div class="d-xs-block d-sm-none row">
                                <div class="col-8">
                                    <span #displayMobile>{{doc.displayName}}</span>
                                    <input #editMobile trim="blur" hidden="true" type="text" [ngModel]="doc.displayName"
                                        (ngModelChange)="checkBtnMobile.disabled = doesFileNameAlreadyExist($event)"
                                        [ngModelOptions]="{standalone: true}" style="height: 2rem">
                                    <div>
                                        <button #checkBtnMobile mat-button
                                            [style.display]="!editMobile.hidden? '': 'none'" (click)="displayMobile.hidden = false;
                                             editMobile.hidden = true;
                                             onFileNameChange(doc.displayName!, edit.value, doc);
                                             uploadForm.form.markAsTouched();">
                                            <mat-icon color="accent">check</mat-icon>
                                        </button>
                                        <button #editBtnMobile mat-button
                                            [style.display]="editMobile.hidden ? '': 'none'"
                                            (click)="displayMobile.hidden = true; editMobile.hidden = false;">
                                            <mat-icon color="accent">edit</mat-icon>
                                        </button>
                                        <button mat-button (click)="onFileRemove(i); uploadForm.form.markAsTouched();">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button mat-button cdkDragHandle>
                                        <mat-icon>drag_handle</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="d-none d-sm-flex justify-content-between">
                                <span #display>{{doc.displayName}}</span>
                                <input #edit trim="blur" hidden="true" type="text" [ngModel]="doc.displayName"
                                    (ngModelChange)="checkBtn.disabled = doesFileNameAlreadyExist($event)"
                                    [ngModelOptions]="{standalone: true}">
                                <div>
                                    <button #checkBtn mat-button [style.display]="!edit.hidden? '': 'none'" (click)="display.hidden = false;
                                        edit.hidden = true;
                                        onFileNameChange(doc.displayName!, edit.value, doc);
                                        uploadForm.form.markAsTouched();">
                                        <mat-icon color="accent">check</mat-icon>
                                    </button>
                                    <button #editBtn mat-button [style.display]="edit.hidden ? '': 'none'"
                                        (click)="display.hidden = true; edit.hidden = false;">
                                        <mat-icon color="accent">edit</mat-icon>
                                    </button>
                                    <button mat-button (click)="onFileRemove(i); uploadForm.form.markAsTouched();">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button mat-button cdkDragHandle>
                                        <mat-icon>drag_handle</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <button *ngIf="isEditMode" class="col-4 col-sm-2" mat-button
                (click)="edit(); uploadForm.form.markAsUntouched()"
                [disabled]="uploadForm.untouched || !uploadForm.valid">
                <mat-icon color="accent">save</mat-icon> {{ 'property_upload.save' | translate }}
            </button>
        </div>
    </form>
</section>