@use "src/app/styles/colors" as colors;

.table .mat-icon {
    font-size: 1.25rem;
}

.line-item:nth-child(2n){
    background: colors.$off-white ;
}

.schedule-name {
    font-size: 1.5rem;
    line-height: 2;
}