<mat-card class="mat-elevation-z2 p-4">
    <form #scheduleRef>
        <div class="row pb-4" *ngIf="editable">
            <div class="col-12 py-2">
                <div class="row pb-3">
                    <mat-form-field [class.col-5]="payerSelect.value !== 'other'"
                        [class.col-3]="payerSelect.value === 'other'">
                        <mat-label>{{ 'payment_schedule.payer' | translate }}</mat-label>
                        <mat-select [placeholder]="'payment_schedule.payer' | translate" name="payerSelect" required
                            #payerSelect [(value)]="selectedPayer" (selectionChange)="customPayer = ''">
                            <mat-option [value]="payer">{{payer}}</mat-option>
                            <mat-option [value]="payee">{{payee}}</mat-option>
                            <mat-option [value]="companyName">{{companyName}}</mat-option>
                            <mat-option value="other">{{ 'payment_schedule.other' | translate }}</mat-option>
                        </mat-select>
                        <span *ngIf="payerSelect.value === 'other'" matSuffix>
                            :
                        </span>
                    </mat-form-field>
                    <mat-form-field *ngIf="payerSelect.value === 'other'" class="col-2">
                        <input name="customPayer" required trim="blur" matInput [(ngModel)]="customPayer"
                            [placeholder]="'payment_schedule.payer' | translate">
                    </mat-form-field>

                    <div class="ps-4 col-1">
                        <div>
                            <mat-icon color="accent">attach_money</mat-icon>
                        </div>
                        <div>
                            <mat-icon color="accent">trending_flat</mat-icon>
                        </div>
                    </div>
                    <mat-form-field [class.col-5]="payeeSelect.value !== 'other'"
                        [class.col-3]="payeeSelect.value === 'other'">
                        <mat-label>{{ 'payment_schedule.payee' | translate }}</mat-label>
                        <mat-select [placeholder]="'payment_schedule.payee' | translate" name="payeeSelect" required
                            #payeeSelect [(value)]="selectedPayee" (selectionChange)="customPayee = ''">
                            <mat-option [value]="payer">{{payer}}</mat-option>
                            <mat-option [value]="payee">{{payee}}</mat-option>
                            <mat-option [value]="companyName">{{companyName}}</mat-option>
                            <mat-option value="other">{{ 'payment_schedule.other' | translate }}</mat-option>
                        </mat-select>
                        <span *ngIf="payeeSelect.value === 'other'" matSuffix>
                            :
                        </span>
                    </mat-form-field>
                    <mat-form-field *ngIf="payeeSelect.value === 'other'" class="col-2">
                        <input name="customPayee" required trim="blur" matInput [(ngModel)]="customPayee"
                            [placeholder]="'payment_schedule.payee' | translate">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-12 h5">{{ 'payment_schedule.payment_details' | translate }}</div>
                    <mat-form-field class="col-4 me-0 pe-0">
                        <span matPrefix class="pe-3">{{ 'payment_schedule.pay' | translate }}</span>
                        <input #amount matInput name="amount" type="text" required
                            [placeholder]="'payment_schedule.amount' | translate" [value]="">
                    </mat-form-field>
                    <mat-form-field class="col-2 ms-0 ps-0 me-0 pe-0">
                        <span matPrefix class="ps-2 pe-3">{{ 'payment_schedule.every' | translate }}</span>
                        <input #howOften matInput name="howOften" type="number" required
                            [placeholder]="'payment_schedule.frequency' | translate" value="2">
                        <span matSuffix class="ps-2">{{ 'payment_schedule.month' | translate }},</span>
                    </mat-form-field>
                    <mat-form-field class="col-6 ms-0 ps-0">
                        <span matPrefix class="ps-2 pe-3">{{ 'payment_schedule.with_in' | translate }}</span>
                        <input #howUrgent matInput name="howUrgent" type="number" required
                            [placeholder]="'payment_schedule.days' | translate" value="5">
                        <span matSuffix class="ps-2">{{ 'payment_schedule.days' | translate }}</span>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6 me-0 pe-0">
                        <span matPrefix class="pe-3">{{ 'payment_schedule.from' | translate }}</span>
                        <input readonly #beginDate matInput name="beginDate" [matDatepicker]="beginningDatePicker"
                            required [placeholder]="'payment_schedule.first_due_date' | translate"
                            [value]="defaultValues?.startDate | date: 'yyyy-MM-dd'"
                            (click)="beginningDatePicker.open()" />
                        <mat-datepicker-toggle matSuffix [for]="beginningDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #beginningDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-6 ms-0 ps-0">
                        <span matPrefix class="ps-3 pe-3">{{ 'payment_schedule.to' | translate }}</span>
                        <input readonly #endDate matInput name="endDate" [matDatepicker]="endDatePicker" required
                            [placeholder]="'payment_schedule.final_due_date' | translate"
                            [value]="defaultValues?.endDate | date: 'yyyy-MM-dd'" (click)="endDatePicker.open()" />
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-12">
                        <span matPrefix class="pe-3">{{ 'payment_schedule.description' | translate }}:</span>
                        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="scheduleDescription"
                            [placeholder]="'payment_schedule.description_placeholder' | translate " />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button mat-raised-button
                    [disabled]="!(amount.value && howOften.valueAsNumber && beginDate.value && endDate.value)"
                    (click)="createPaymentSchedule(amount.value, howOften.valueAsNumber, howUrgent.valueAsNumber , beginDate, endDate); focusFirstEditable()">
                    <mat-icon color="accent">add</mat-icon> {{ 'payment_schedule.create' | translate }}
                </button>
            </div>
        </div>

        <div class="table" *ngIf="schedule?.lineItems?.length">
            <div class="d-flex justify-content-center" style="position: absolute; right: 25px">
                <button *ngIf="editable" mat-mini-fab (click)="removeSchedule()" color="default"
                    [matTooltip]="'payment_schedule.remove_sched' | translate">
                    <mat-icon color="accent">remove</mat-icon>
                </button>
            </div>
            <div *ngIf="scheduleName" class="row pb-1 ">
                <div class="col-12 schedule-name">
                    {{scheduleName}}
                </div>
                <div class="col-12">
                    <span class="text-bold pe-1">{{ 'payment_schedule.description' | translate
                        }}:</span>{{scheduleDescription}}
                </div>
                <div class="col-12">
                    <span class="text-bold pe-1">{{ 'payment_schedule.payer' | translate }}:</span> {{
                    schedule.lineItems![0].payer}}
                </div>
                <div class="col-12">
                    <span class="text-bold pe-1">{{ 'payment_schedule.payee' | translate }}:</span> {{
                    schedule.lineItems![0].payee}}
                </div>
            </div>
            <ng-container [ngTemplateOutlet]="paymentSchedule"></ng-container>
        </div>
    </form>
</mat-card>

<ng-template #paymentSchedule>
    <div class="row header py-2">
        <div *ngFor="let header of columnHeaders" [class]="headerCellClass">
            <ng-container *ngIf="header === 'name'">
                {{ 'payment_schedule.invoice_name' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'amount'">
                {{ 'payment_schedule.amount' | translate | titlecase}}
            </ng-container>
            <ng-container *ngIf="header === 'beginDate'">
                {{ 'payment_schedule.begin_date' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'dueDate'">
                {{ 'payment_schedule.due_date' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'paymentWindow'">
                {{ 'payment_schedule.payment_window' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'paymentDate'">
                {{ 'payment_schedule.payment_date' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'payoutDate'">
                {{ 'payment_schedule.payout_date' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'payer'">
                {{ 'payment_schedule.payer' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'payee'">
                {{ 'payment_schedule.payee' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'status'">
                {{ 'payment_schedule.status' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'description'">
                {{ 'payment_schedule.invoice_description' | translate }}
            </ng-container>
            <ng-container *ngIf="header === 'propertyName'">
                {{ 'payment_schedule.property_name' | translate }}
            </ng-container>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let lineItem of schedule.lineItems; let i = index" class="py-1 row line-item">
        <div *ngFor="let lineItemProperty of columnHeaders" [class]="lineItemCellClass">
            <ng-template #genericTextLineItem>
                <div class="pt-1">{{lineItem[lineItemProperty]}}</div>
            </ng-template>

            <ng-container *ngIf="!editable" [ngSwitch]="lineItemProperty">
                <ng-container *ngSwitchCase="'status'">
                    <div class="pt-1">
                        {{ 'payment_schedule.' + lineItem[lineItemProperty] | translate }}
                    </div>

                    <div class="pt-1" *ngIf="canChangeStatus" style="position: absolute; right: 25px">
                        <button *ngIf="lineItem.status === 'unpaid'" mat-raised-button (click)="markAsPaid(lineItem);"
                            [matTooltip]="'payment_schedule.received_payments' | translate">
                            <mat-icon color="accent">check</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'beginDate'">
                    <div class="pt-1" *ngIf="lineItemProperty === 'beginDate'">
                        {{ lineItem[lineItemProperty]?.toDate() | date: 'dd/MM/yyyy' }}
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'dueDate'">
                    <div class="pt-1" *ngIf="lineItemProperty === 'dueDate'">
                        {{ lineItem[lineItemProperty]?.toDate() | date: 'dd/MM/yyyy' }}
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'paymentDate'">
                    <div class="pt-1" *ngIf="lineItemProperty === 'paymentDate'">
                        {{ lineItem[lineItemProperty]?.toDate() | date: 'dd/MM/yyyy' }}
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault [ngTemplateOutlet]="genericTextLineItem">
                </ng-container>
            </ng-container>

            <ng-container *ngIf="editable">
                <ng-container
                    *ngIf="lineItemProperty === 'amount' || lineItemProperty === 'description'; else paymentWindowTpl">
                    <div class="pt-1" #display [hidden]="!lineItem[lineItemProperty]"
                        [id]="'lineItemDisplay-' + lineItemProperty + '-' + i">
                        {{lineItem[lineItemProperty]}}
                    </div>
                    <input required #edit trim="blur" [hidden]="!!lineItem[lineItemProperty]" type="text"
                        [ngModel]="display.textContent" style="height: 2rem"
                        [id]="'lineItemInput-' + lineItemProperty + '-' + i"
                        [name]="'lineItemInput-' + lineItemProperty + '-' + i">

                    <button #checkBtn mat-button [style.display]="!edit.hidden? '': 'none'"
                        [matTooltip]="'payment_schedule.save' | translate" matTooltipPosition='right' (click)="display.hidden = false;
                                            edit.hidden = true;
                                            lineItem[lineItemProperty] = edit.value">
                        <mat-icon color="accent">check</mat-icon>
                    </button>
                    <button #editBtn mat-button [style.display]="edit.hidden ? '': 'none'"
                        [matTooltip]="'payment_schedule.edit' | translate" matTooltipPosition='right'
                        (click)="display.hidden = true; edit.hidden = false;">
                        <mat-icon color="accent">edit</mat-icon>
                    </button>
                </ng-container>

                <ng-template #paymentWindowTpl>
                    <ng-container *ngIf="lineItemProperty === 'paymentWindow' else genericTextLineItem">
                        <div #display [hidden]="!lineItem[lineItemProperty]" class="pt-1"
                            [id]="'lineItemDisplay-' + lineItemProperty + '-' + i">
                            {{lineItem[lineItemProperty]}}
                        </div>
                        <div #edit [hidden]="lineItem[lineItemProperty]">
                            <mat-form-field>
                                <mat-label>Begin date</mat-label>
                                <input [id]="'lineItemBeginDateInput-' + lineItemProperty + '-' + i"
                                    [name]="'lineItemBeginDateInput-' + lineItemProperty + '-' + i" readonly matInput
                                    type="text" [matDatepicker]="beginDatePicker"
                                    [ngModel]="lineItem.beginDate!.toDate() | date: 'yyyy-MM-dd'"
                                    (ngModelChange)="lineItem.beginDate = dateToTimestamp($event)"
                                    (click)="beginDatePicker.open()" #beginDate>
                                <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #beginDatePicker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>End date</mat-label>
                                <input [id]="'lineItemDueDateInput-' + lineItemProperty + '-' + i"
                                    [name]="'lineItemDueDateInput-' + lineItemProperty + '-' + i" readonly matInput
                                    type="text" [matDatepicker]="dueDatePicker"
                                    [ngModel]="lineItem.dueDate!.toDate() | date: 'yyyy-MM-dd'"
                                    (ngModelChange)="lineItem.dueDate = dateToTimestamp($event)"
                                    (click)="dueDatePicker.open()" #dueDate>
                                <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dueDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <button #checkBtn mat-button [style.display]="!edit.hidden? '': 'none'"
                            [matTooltip]="'payment_schedule.save' | translate" matTooltipPosition='right' (click)="display.hidden = false;
                                            edit.hidden = true;
                                            updateInvoicePaymentPeriod(lineItem, beginDate.value, dueDate.value)">
                            <mat-icon color="accent">check</mat-icon>
                        </button>
                        <button #editBtn mat-button [style.display]="edit.hidden ? '': 'none'"
                            [matTooltip]="'payment_schedule.edit' | translate" matTooltipPosition='right'
                            (click)="display.hidden = true; edit.hidden = false;">
                            <mat-icon color="accent">edit</mat-icon>
                        </button>
                    </ng-container>
                </ng-template>
            </ng-container>
        </div>
    </div>
</ng-template>