<form #createForm="ngForm" class="row pb-2" *ngIf="edit">
    <mat-form-field class="col-2 me-0 pe-0">
        <span matPrefix class="pe-3">{{ 'payment_schedule.pay' | translate }}</span>
        <input #amount matInput name="amount" type="text" required
            [placeholder]="'payment_schedule.amount' | translate">
    </mat-form-field>
    <mat-form-field class="col-2 ms-0 ps-0 me-0 pe-0">
        <span matPrefix class="ps-2 pe-3">{{ 'payment_schedule.every' | translate }}</span>
        <input #howOften matInput name="howOften" type="number" required
            [placeholder]="'payment_schedule.frequency' | translate">
        <span matSuffix class="ps-2">{{ 'payment_schedule.month' | translate }},</span>
    </mat-form-field>
    <mat-form-field class="col-3 ms-0 ps-0 me-0 pe-0">
        <span matPrefix class="ps-1 pe-3">{{ 'payment_schedule.from' | translate }}</span>
        <input #beginDate matInput name="beginDate" [matDatepicker]="beginningDatePicker" required
            [placeholder]="'payment_schedule.first_due_date' | translate" />
        <mat-datepicker-toggle matSuffix [for]="beginningDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #beginningDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-3 ms-0 ps-0">
        <span matPrefix class="ps-3 pe-3">{{ 'payment_schedule.to' | translate }}</span>
        <input #endDate matInput name="endDate" [matDatepicker]="endDatePicker" required
            [placeholder]="'payment_schedule.final_due_date' | translate" />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <div class="col-2 d-flex justify-content-center py-2">
        <button mat-raised-button [disabled]="!createForm.valid"
            (click)="createPaymentSchedule(amount.value, howOften.valueAsNumber, beginDate, endDate)">
            <mat-icon>add</mat-icon> {{ 'payment_schedule.create' | translate }}
        </button>
    </div>
</form>

<div class="table" *ngIf="schedule?.lineItems?.length">
    <div class="row header pb-1">
        <div *ngFor="let header of columnHeaders" [class]="headerCellClass">
            <ng-container *ngIf="header === 'name'">
                Invoice name
            </ng-container>
            <ng-container *ngIf="header === 'amount'">
                Amount
            </ng-container>
            <ng-container *ngIf="header === 'beginDate'"></ng-container>
            <ng-container *ngIf="header === 'dueDate'"></ng-container>
            <ng-container *ngIf="header === 'paymentWindow'">
                Payment window
            </ng-container>
            <ng-container *ngIf="header === 'paymentDate'"></ng-container>
            <ng-container *ngIf="header === 'payoutDate'"></ng-container>
            <ng-container *ngIf="header === 'payer'"></ng-container>
            <ng-container *ngIf="header === 'payee'"></ng-container>
            <ng-container *ngIf="header === 'status'"></ng-container>
            <ng-container *ngIf="header === 'description'"></ng-container>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-1">
        <div *ngFor="let lineItem of schedule.lineItems; let i = index" class="row line-item">
            <div *ngFor="let lineItemProperty of columnHeaders" [class]="lineItemCellClass">
                {{lineItem[lineItemProperty]}}
            </div>
        </div>
    </div>
</div>