.activity-file-upload-main {
    border-right: 1px solid rgb(201, 201, 201);
}

.activity-file-name {
    white-space: nowrap;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}
