<form class="p-3" #resetPwd="ngForm" (ngSubmit)="onSubmit(resetPwd)">
    <div class="row pb-2">
        <div class="h5 col-12 mb-4 text-bold">
            {{ 'reset_password.title' | translate }}
        </div>

        <mat-form-field class="col-12 mb-4">
            <mat-label>{{ 'reset_password.current' | translate }}</mat-label>
            <input matInput type="text" name="currentPwd" required [(ngModel)]="currentPwd">
        </mat-form-field>

        <mat-form-field class="col-12 mb-1">
            <mat-label>{{ 'reset_password.new' | translate }}</mat-label>
            <input #newPwdInput matInput type="text" name="newPwd" required [(ngModel)]="newPwd" minlength="6">
            <mat-hint>{{ 'reset_password.minlength' | translate }}</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-12 mb-1">
            <mat-label>{{ 'reset_password.new_confirm' | translate }}</mat-label>
            <input #newPwdConfirmInput matInput type="text" name="newPwdConfirm" required [(ngModel)]="newPwdConfirm"
                minlength="6">
            <mat-error *ngIf="newPwdConfirmInput.value && (newPwdInput.value !== newPwdConfirmInput.value)">
                {{ 'reset_password.not_matching' | translate }}
            </mat-error>
        </mat-form-field>

        <div class="col-12 d-flex justify-content-center">
            <button mat-raised-button color="accent" type="submit" [disabled]="
            resetPwd.invalid || (newPwdInput.value !== newPwdConfirmInput.value)">
                {{ 'reset_password.change' | translate }}
            </button>
        </div>
    </div>
</form>