<mat-expansion-panel class="mat-elevation-z1 owner-panel" (afterExpand)="getProperties(owner)"
    (mouseenter)="showDeleteBtn(deleteBtn); showEditBtn(editBtn)"
    (mouseleave)="hideDeleteBtn(deleteBtn); hideEditBtn(editBtn)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="owner-name">{{owner.contactName}} </div>
        </mat-panel-title>
        <mat-panel-description>
            <div class="owner-contact-info">
                {{owner.contactInfo}}
            </div>
        </mat-panel-description>
        <div style="display: none" #editBtn>
            <button *ngIf="canEditOwner" mat-button (click)="$event.stopPropagation(); editOwner(owner)">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div style="display: none" #deleteBtn>
            <button *ngIf="canRemoveOwner" mat-button (click)="$event.stopPropagation(); deleteOwner(owner)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="pb-2 text-bold">{{ 'owner_list_item.prop_of_list' | translate }}</div>
        <mat-divider></mat-divider>

        <div class="pt-2 d-flex justify-content-center"
            *ngIf="!properties.length && (ownerListItem.gettingProperties$ | async)">
            <mat-spinner color="primary" [diameter]="35"></mat-spinner>
        </div>

        <div *ngIf="properties.length && !(ownerListItem.gettingProperties$ | async)">
            <button *ngFor="let property of properties; let i = index" mat-button class="w-100
            d-flex justify-content-start"
                (click)="viewPropertyDetails(property)">
                <span class="property-title"> {{property.category}} | {{property.name}}</span>
            </button>
        </div>

        <div *ngIf="!properties.length && !(ownerListItem.gettingProperties$ | async)" class="pt-2 ps-2">
            {{ 'owner_list_item.no_properties' | translate }}
        </div>

    </ng-template>
</mat-expansion-panel>

<ng-template #deleteConfirmation>
    <div class="row">
        <div class="col-12">{{ 'owner_list_item.confirmation_msg' | translate }}</div>
        <div class="col-12 d-flex justify-content-end">
            <button mat-button color="accent" [mat-dialog-close]="true">{{ 'owner_list_item.delete' | translate
                }}</button>
            <button mat-button [mat-dialog-close]="false">{{ 'owner_list_item.cancel' | translate }}</button>
        </div>
    </div>
</ng-template>