@media only screen and (min-width: 600px) {
    .property-card-wrapper:hover {
        transform: translateY(-5px);
    }
}

::ng-deep {
    @media only screen and (max-width: 600px) {
        #prop-view-tabs .mat-tab-header {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
        }

        #prop-view-tabs .mat-tab-label {
            border: none;
            box-sizing: border-box;
            border-radius: 0.8rem;
            color: rgb(64, 92, 124);
        }

        #prop-view-tabs .mat-tab-label-active {
            border: none;
            box-sizing: border-box;
            border-radius: 0.8rem;
        }

        #prop-view-tabs .mat-ink-bar {
            display: none !important;
        }
    }
}

.search-bar {
    font-size: 1.25rem;
}

.float-controls {
    top: auto !important;
    right: 20px !important;
    bottom: 55px !important;
    left: auto !important;
    position: fixed !important;
    button {
        background-color: white !important;
    }
    z-index: 1;
}

::ng-deep .mat-mdc-tab-body-content {
    overflow: hidden !important;
}

::ng-deep mat-tab-group[id="prop-view-tabs"] {
    mat-tab-header {
        @media only screen and (max-width: 768px) {
            top: auto !important;
            right: 4px !important;
            bottom: 0px !important;
            left: 4px !important;
            position: fixed !important;
            z-index: 2;
            height: 9vh;
        }

        button.mat-mdc-tab-header-pagination {
            display: none !important;
        }

        .mat-mdc-tab-label-container {
            background: white;
            .mdc-tab {
                width: 25vw !important;
                height: 56px;
                font-size: 0.75rem;
            }
        }
    }

    mat-tab-body{
        margin-bottom: 56px;
    }
}
