<section class="ps-2 pt-2 pe-2">
    <div class="search-bar">
        <mat-form-field>
            <button matPrefix mat-icon-button disabled>
                <mat-icon>search</mat-icon>
            </button>
            <input matInput [placeholder]="'owners_view.search_placeholder'| translate" type="text"
                [(ngModel)]="algoliaQuery" (ngModelChange)="searchWithAlgolia()">
        </mat-form-field>
    </div>

    <div class="d-flex justify-content-center" *ngIf="!owners?.length && (ownersView.gettingOwners$ | async)">
        <mat-spinner color="primary" [diameter]="35"></mat-spinner>
    </div>

    <owner-list *ngIf="owners?.length" [owners]="owners"></owner-list>
</section>

<div class="float-controls-mobile">
    <button mat-raised-button class="mat-elevation-z4" (click)="registerOwner()">
        <mat-icon color="accent">person_add</mat-icon>
        <span class="ps-2">{{ 'owners_view.register' | translate }}</span>
    </button>
</div>