::ng-deep {
    @media only screen and (max-width: 600px) {
        #invoices-view-tabs .mat-tab-header {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
        }

        #invoices-view-tabs .mat-tab-label {
            border: none;
            box-sizing: border-box;
            border-radius: 0.8rem;
            color: rgb(64, 92, 124);
        }

        #invoices-view-tabs .mat-tab-label-active {
            border: none;
            box-sizing: border-box;
            border-radius: 0.8rem;
        }

        #invoices-view-tabs .mat-ink-bar {
            display: none !important;
        }
    }
}

::ng-deep mat-tab-group[id="invoices-view-tabs"] {
    @media only screen and (max-width: 768px) {
        --nav-tabs-height: 80px;

        mat-tab-header {
            top: auto !important;
            right: 4px !important;
            bottom: 0px !important;
            left: 4px !important;
            position: fixed !important;
            z-index: 2;
            height: 9vh;
            border-top: 1px solid rgb(172, 178, 185);

            button.mat-mdc-tab-header-pagination {
                display: none !important;
            }

            .mat-mdc-tab-label-container {
                background: whitesmoke;
                .mdc-tab {
                    width: 25vw !important;
                    height: var(--nav-tabs-height);
                    font-size: 0.75rem;

                    span.mdc-tab__content {
                        display: block !important;
                    }
                }
            }
        }

        mat-tab-body {
            margin-bottom: var(--nav-tabs-height);
        }
    }
}
