<mat-tab-group class="px-2 py-4" color="accent" dynamicHeight="true">
    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>assignment_late_icon</mat-icon>
            <span class="ps-2 pe-2">{{'invoices.uncollected_invoices' | translate}}</span>
            <span>({{uncollectedInvoices.length}})</span>
        </ng-template>
        <div class="row px-2 py-2">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>{{ 'invoices.select_time_period' | translate }}</mat-label>
                    <mat-select [value]="'currentMonth'" (selectionChange)="getUnpaidInvoices($event.value)">
                        <mat-option value="currentMonth">{{ 'invoices.this_month' | translate }}</mat-option>
                        <mat-option value="all">{{ 'invoices.all_time' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 py-2 d-flex justify-content-end">
                <button mat-raised-button printSectionId="print-section-uncollected" [useExistingCss]="true" ngxPrint>
                    <mat-icon color="accent">print</mat-icon> {{ 'invoices.print' | translate }}
                </button>
            </div>
        </div>

        <div class="d-none">
            <div class="row px-2 py-2" id="print-section-uncollected">
                <div class="col-12" *ngIf="uncollectedInvoices.length">
                    <ngx-table [configuration]="tableConfig" [columns]="uncollectedInvoicesCols"
                        [data]="uncollectedInvoices"></ngx-table>
                </div>
            </div>
        </div>

        <div class="row px-2 py-2" [@scheduleAnim]="uncollectedInvoices.length">
            <div class="col-12" *ngIf="uncollectedInvoices.length">
                <invoice-list [canEditInvoices]="true" [invoices]="uncollectedInvoices">
                </invoice-list>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>assignment_turned_in_icon</mat-icon>
            <span class="ps-2 pe-2">{{'invoices.collected_invoices' | translate}}</span>
            <span>({{collectedInvoices.length}})</span>
        </ng-template>
        <div class="row px-2 py-2">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>{{ 'invoices.select_month' | translate }}</mat-label>
                    <input readonly matInput [matDatepicker]="dpCollected" [value]="currentDate" (click)="dpCollected.open()">
                    <mat-datepicker-toggle matSuffix [for]="dpCollected"></mat-datepicker-toggle>
                    <mat-datepicker #dpCollected startView="multi-year"
                        (monthSelected)="getPaidInvoicesFromCalendar($event, dpCollected);" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6 py-2 d-flex justify-content-end">
                <button mat-raised-button printSectionId="print-section-collected" [useExistingCss]="true" ngxPrint>
                    <mat-icon color="accent">print</mat-icon> {{ 'invoices.print' | translate }}
                </button>
            </div>
        </div>
        <div class="d-none">
            <div class="row px-2 py-2" id="print-section-collected">
                <div class="col-12" *ngIf="collectedInvoices.length">
                    <ngx-table [configuration]="tableConfig" [columns]="collectedInvoicesCols"
                        [data]="collectedInvoices"></ngx-table>
                </div>
            </div>
        </div>
        <div class="row px-2 py-2" [@scheduleAnim]="uncollectedInvoices.length">
            <div class="col-12" *ngIf="uncollectedInvoices.length">
                <invoice-list [canEditInvoices]="true" [invoices]="collectedInvoices">
                </invoice-list>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>price_check</mat-icon>
            <span class="ps-2 pe-2">{{'invoices.sent_to_owner' | translate}}</span>
            <span>({{paidOutInvoices.length}})</span>
        </ng-template>
        <div class="row px-2 py-2">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>{{ 'invoices.select_month' | translate }}</mat-label>
                    <input readonly matInput [matDatepicker]="dpPaidout" [value]="currentDate"
                        (click)="dpPaidout.open()">
                    <mat-datepicker-toggle matSuffix [for]="dpPaidout"></mat-datepicker-toggle>
                    <mat-datepicker #dpPaidout startView="multi-year"
                        (monthSelected)="getPaidOutInvoicesFromCalendar($event, dpPaidout);" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6 py-2 d-flex justify-content-end">
                <button mat-raised-button printSectionId="print-section-paidout" [useExistingCss]="true" ngxPrint>
                    <mat-icon color="accent">print</mat-icon> {{ 'invoices.print' | translate }}
                </button>
            </div>
        </div>
        <div class="d-none">
            <div class="row px-2 py-2" id="print-section-paidout">
                <div class="col-12" *ngIf="paidOutInvoices.length">
                    <ngx-table [configuration]="tableConfig" [columns]="collectedInvoicesCols" [data]="paidOutInvoices">
                    </ngx-table>
                </div>
            </div>
        </div>
        <div class="row px-2 py-2" [@scheduleAnim]="paidOutInvoices.length">
            <div class="col-12" *ngIf="paidOutInvoices.length">
                <invoice-list [canEditInvoices]="false" [invoices]="paidOutInvoices">
                </invoice-list>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<ng-template #paymentDateTpl let-row>
    {{ row.paymentDate?.toDate() | date: 'dd/MM/yyyy' }}
</ng-template>

<ng-template #beginDateTpl let-row>
    {{ row.beginDate?.toDate() | date: 'dd/MM/yyyy' }}
</ng-template>