<mat-tab-group class="px-2 py-4" color="accent" dynamicHeight="true">
    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>assignment_late_icon</mat-icon>
            <span class="ps-2 pe-2">{{'invoices.uncollected_invoices' | translate}}</span>
            <span>({{uncollectedInvoices.lineItems?.length}})</span>
        </ng-template>
        <div class="row px-2 py-2">
            <div class="col-12 d-flex justify-content-end">
                <button mat-raised-button printSectionId="print-section-uncollected" [useExistingCss]="true" ngxPrint>
                    <mat-icon color="accent">print</mat-icon> {{ 'invoices.print' | translate }}
                </button>
            </div>
        </div>

        <div class="d-none">
            <div class="row px-2 py-2" id="print-section-uncollected">
                <div class="col-12" *ngIf="uncollectedInvoices?.lineItems?.length">
                    <ngx-table [configuration]="tableConfig" [columns]="uncollectedInvoicesCols"
                        [data]="uncollectedInvoices.lineItems!"></ngx-table>
                </div>
            </div>
        </div>

        <div class="row px-2 py-2" [@scheduleAnim]="uncollectedInvoices.lineItems?.length">
            <div class="col-12" *ngIf="uncollectedInvoices?.lineItems?.length">
                <invoice-list [canEditInvoices]="true" [invoices]="uncollectedInvoices.lineItems!">
                </invoice-list>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>assignment_turned_in_icon</mat-icon>
            <span class="ps-2 pe-2">{{'invoices.collected_invoices' | translate}}</span>
            <span>({{collectedInvoices.lineItems?.length}})</span>
        </ng-template>
        <div class="row px-2 py-2">
            <div class="col-12 d-flex justify-content-end">
                <button mat-raised-button printSectionId="print-section-collected" [useExistingCss]="true" ngxPrint>
                    <mat-icon color="accent">print</mat-icon> Print
                </button>
            </div>
        </div>
        <div class="d-none">
            <div class="row px-2 py-2" id="print-section-collected">
                <div class="col-12" *ngIf="collectedInvoices?.lineItems?.length">
                    <ngx-table [configuration]="tableConfig" [columns]="collectedInvoicesCols"
                        [data]="collectedInvoices.lineItems!"></ngx-table>
                </div>
            </div>
        </div>
        <div class="row px-2 py-2" [@scheduleAnim]="uncollectedInvoices.lineItems?.length">
            <div class="col-12" *ngIf="uncollectedInvoices?.lineItems?.length">
                <invoice-list [canEditInvoices]="false" [invoices]="collectedInvoices.lineItems!">
                </invoice-list>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<ng-template #paymentDateTpl let-row>
    {{ row.paymentDate?.toDate() | date: 'dd/MM/yyyy' }}
</ng-template>

<ng-template #beginDateTpl let-row>
    {{ row.beginDate?.toDate() | date: 'dd/MM/yyyy' }}
</ng-template>