::ng-deep {
    @media only screen and (max-width: 600px) {
        #invoices-view-tabs .mat-tab-header {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
        }

        #invoices-view-tabs .mat-tab-label {
            border: none;
            box-sizing: border-box;
            border-radius: 0.8rem;
            color: rgb(64, 92, 124);
        }

        #invoices-view-tabs .mat-tab-label-active {
            border: none;
            box-sizing: border-box;
            border-radius: 0.8rem;
        }

        #invoices-view-tabs .mat-ink-bar {
            display: none !important;
        }
    }
}