.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-background {
        background-image: url("/assets/images/login-background.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
    }
}
