<div class="pb-1" *ngFor="let owner of owners">
    <mat-expansion-panel class="mat-elevation-z1 owner-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="owner-name">{{owner.contactName}} </div>
            </mat-panel-title>
            <mat-panel-description>
                <div class="owner-contact-info">
                    {{owner.contactInfo}}
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            Danh sách các BĐS thuộc chủ nhà này....
        </ng-template>
    </mat-expansion-panel>
</div>