<mat-toolbar class="navbar mat-elevation-z3">
    <a class="navbar-brand" (click)="viewSummary()">
        <span class="home-icon-wrapper">
            <img width="22rem" height="22rem" src="/assets/images/logo.png">
        </span>
        <span class="company-name ps-2">Anh Nguyen Real Estate</span>
    </a>

    <div class="d-none d-md-flex">
        <div class="language-toggle ms-2 me-4">
            <mat-icon>language</mat-icon>
            <span class="pe-1"></span>
            <mat-form-field color="accent">
                <mat-select [(ngModel)]="lang" (selectionChange)="useLanguage($event)">
                    <mat-option value='en'>{{ 'layout.english' | translate }}</mat-option>
                    <mat-option value='vn'>{{ 'layout.vietnamese' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <ng-container *ngIf="loggedIn">
            <a mat-button [matMenuTriggerFor]="menu" [matTooltip]="auth.currentUser?.email || ' '">
                <mat-icon>account_circle</mat-icon>
            </a>
            <mat-menu #menu="matMenu" class="employee-actions-menu">
                <a mat-menu-item (click)="resetPwd()">
                    <mat-icon>lock_reset</mat-icon> {{ 'layout.reset_pwd' | translate }}
                </a>
                <a mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon> {{ 'layout.sign_out' | translate }}
                </a>
            </mat-menu>
        </ng-container>

        <a *ngIf="!loggedIn" mat-button [routerLink]="'/login'" [matTooltip]="'layout.sign_in' | translate">
            <mat-icon>login</mat-icon>
        </a>
    </div>

    <button mat-button class="menu-button d-md-none" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" autoFocus="false" mode="over" class="sidenav" (click)="sidenav.toggle()">
        <div class="ps-4 language-toggle-mobile">
            <mat-icon>language</mat-icon>
            <mat-form-field class="ps-3" color="accent" (click)="$event.stopPropagation()">
                <mat-select [(ngModel)]="lang" (selectionChange)="useLanguage($event)">
                    <mat-option value='en'>{{ 'layout.english' | translate }}</mat-option>
                    <mat-option value='vn'>{{ 'layout.vietnamese' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-divider inset="true"></mat-divider>

        <a *ngIf="!loggedIn" mat-button [routerLink]="'/login'">
            <mat-icon>login</mat-icon>
            <span class="ps-3"> {{ 'layout.sign_in' | translate }}</span>
        </a>

        <ng-container *ngIf="loggedIn">
            <a id="summary-btn" class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewSummary()">
                <mat-icon>dashboard</mat-icon>
                <span class="ps-3">{{ 'property_management.summary' | translate }}</span>
            </a>
            <a id="properties-btn" class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewProperties()">
                <mat-icon>holiday_village</mat-icon>
                <span class="ps-3">{{ 'property_management.properties' | translate }}</span>
            </a>
            <a id="activities-btn" class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewActivities()">
                <mat-icon>view_list</mat-icon>
                <span class="ps-3">{{ 'property_management.activities' | translate }}</span>
            </a>
            <a id="invoices-btn" class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewInvoices()">
                <mat-icon>request_quote</mat-icon>
                <span class="ps-3">{{ 'property_management.invoices' | translate }}</span>
            </a>

            <mat-divider inset="true"></mat-divider>

            <a mat-button (click)="resetPwd()">
                <mat-icon>lock_reset</mat-icon>
                <span class="ps-3">{{ 'layout.reset_pwd' | translate }}</span>
            </a>
            <a mat-button (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span class="ps-3">{{ 'layout.sign_out' | translate }}</span>
            </a>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>