<mat-toolbar class="navbar">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="home-icon-wrapper">
            <img width="22rem" height="22rem" src="/assets/images/logo.png">
        </span>
    </a>

    <div class="d-none d-md-flex">
        <div class="language-toggle ms-2 me-4">
            <mat-icon>language</mat-icon>
            <span class="pe-1"></span>
            <mat-form-field color="accent">
                <mat-select [(ngModel)]="lang" (selectionChange)="useLanguage($event)">
                    <mat-option value='en'>{{ 'layout.english' | translate }}</mat-option>
                    <mat-option value='vn'>{{ 'layout.vietnamese' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <ng-container *ngIf="loggedIn">
            <a mat-button [matMenuTriggerFor]="menu" [matTooltip]="auth.currentUser?.email || ' '">
                <mat-icon>account_circle</mat-icon>
            </a>
            <mat-menu #menu="matMenu" class="employee-actions-menu">
                <a mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon> {{ 'layout.sign_out' | translate }}
                </a>
            </mat-menu>
        </ng-container>
    </div>
    <button mat-button class="menu-button d-md-none" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" autoFocus="false" mode="over" class="sidenav" (click)="sidenav.toggle()">
        <div class="ps-4 language-toggle-mobile">
            <mat-icon>language</mat-icon>
            <mat-form-field class="ps-3" color="accent" (click)="$event.stopPropagation()">
                <mat-select [(ngModel)]="lang" (selectionChange)="useLanguage($event)">
                    <mat-option value='en'>{{ 'layout.english' | translate }}</mat-option>
                    <mat-option value='vn'>{{ 'layout.vietnamese' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-divider inset="true"></mat-divider>

        <ng-container *ngIf="loggedIn">
            <a mat-button (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span class="ps-3">{{ 'layout.sign_out' | translate }}</span>
            </a>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>