@use "src/app/styles/colors" as colors;

.company-name {
    color: black;
    font: 14px/1 Roboto;
}

.home-icon-wrapper {
    font-size: x-large;
}

.navbar {
    background: white !important;
    padding: 4px 16px !important;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    min-width: 240px;
    a {
        padding: 4px 24px;
        display: flex;
        justify-content: start;
    }
}

.menu-button {
    padding: 0 !important;
    line-height: normal;
    border-radius: 0 !important;
}

.mat-toolbar {
    position: relative;
    z-index: 2;
}