<mat-toolbar class="navbar mat-elevation-z3 d-flex">
    <a class="navbar-brand" (click)="viewSummary()">
        <span class="home-icon-wrapper">
            <img width="22rem" height="22rem" src="/assets/images/logo.png">
        </span>
        <span class="company-name ps-2">{{'app_title' | translate}}</span>
    </a>

    <div class="d-none d-md-flex">
        <div class="d-flex justify-content-start">
            <a style="width: 100%" mat-button [matMenuTriggerFor]="languageMenu" (click)="$event.stopPropagation()">
                <mat-icon matPrefix>language</mat-icon>
                <span *ngIf="lang === 'en'">{{ 'layout.english' | translate }}</span>
                <span *ngIf="lang === 'vn'">{{ 'layout.vietnamese' | translate }}</span>
            </a>
            <mat-menu #languageMenu="matMenu">
                <a mat-menu-item (click)="useLanguage('en')">
                    <span class="ms-2" [class.text-bold]="lang === 'en'">{{
                        'layout.english' | translate }}</span>
                </a>
                <a mat-menu-item (click)="useLanguage('vn')">
                    <span class="ms-2" [class.text-bold]="lang === 'vn'">{{ 'layout.vietnamese' | translate }}</span>
                </a>
            </mat-menu>
        </div>

        <ng-container *ngIf="loggedIn">
            <a mat-button [matMenuTriggerFor]="menu" [matTooltip]="auth.currentUser?.email || ' '">
                <mat-icon style="font-size: 24px; width: 24px; height: 24px;">account_circle</mat-icon>
            </a>
            <mat-menu #menu="matMenu" class="employee-actions-menu">
                <a mat-menu-item (click)="resetPwd()">
                    <mat-icon>lock_reset</mat-icon> {{ 'layout.reset_pwd' | translate }}
                </a>
                <a mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon> {{ 'layout.sign_out' | translate }}
                </a>
            </mat-menu>
        </ng-container>

        <a *ngIf="!loggedIn" mat-button [routerLink]="'/login'" [matTooltip]="'layout.sign_in' | translate">
            <mat-icon>login</mat-icon>
        </a>
    </div>

    <button mat-button class="menu-button d-md-none" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" autoFocus="false" mode="over" class="sidenav" (click)="sidenav.toggle()">
        <div class="d-flex justify-content-start mt-2">
            <a class="ps-5" style="width: 100%" mat-button [matMenuTriggerFor]="languageMenu"
                (click)="$event.stopPropagation()">
                <mat-icon matPrefix>language</mat-icon>
                <span *ngIf="lang === 'en'" class="ms-2">{{ 'layout.english' | translate }}</span>
                <span *ngIf="lang === 'vn'" class="ms-2">{{ 'layout.vietnamese' | translate }}</span>
            </a>
            <mat-menu #languageMenu="matMenu">
                <a mat-menu-item (click)="useLanguage('en')">
                    <span class="ms-2" [class.text-bold]="lang === 'en'">{{ 'layout.english' | translate }}</span>
                </a>
                <a mat-menu-item (click)="useLanguage('vn')">
                    <span class="ms-2" [class.text-bold]="lang === 'vn'">{{ 'layout.vietnamese' | translate }}</span>
                </a>
            </mat-menu>
        </div>

        <mat-divider class="my-1" inset="true"></mat-divider>

        <a class="d-flex justify-content-start ps-5" *ngIf="!loggedIn" mat-button [routerLink]="'/login'">
            <mat-icon>login</mat-icon>
            <span class="ms-2"> {{ 'layout.sign_in' | translate }}</span>
        </a>

        <ng-container *ngIf="loggedIn">
            <a id="summary-btn" class="ps-5 pb-1 d-flex justfiy-content-start view-nav-btn" mat-button
                (click)="viewSummary()">
                <mat-icon>dashboard</mat-icon>
                <span class="ms-2">{{ 'property_management.summary' | translate }}</span>
            </a>
            <a id="properties-btn" class="ps-5 pb-1 d-flex justfiy-content-start view-nav-btn" mat-button
                (click)="viewProperties()">
                <mat-icon>holiday_village</mat-icon>
                <span class="ms-2">{{ 'property_management.properties' | translate }}</span>
            </a>
            <a id="activities-btn" class="ps-5 pb-1 d-flex justfiy-content-start view-nav-btn" mat-button
                (click)="viewActivities()">
                <mat-icon>view_list</mat-icon>
                <span class="ms-2">{{ 'property_management.activities' | translate }}</span>
            </a>
            <a id="invoices-btn" class="ps-5 pb-1 d-flex justfiy-content-start view-nav-btn" mat-button
                (click)="viewInvoices()">
                <mat-icon>request_quote</mat-icon>
                <span class="ms-2">{{ 'property_management.invoices' | translate }}</span>
            </a>

            <mat-divider inset="true"></mat-divider>

            <a mat-button class="ps-5 pb-1 d-flex justfiy-content-start view-nav-btn" (click)="resetPwd()">
                <mat-icon>lock_reset</mat-icon>
                <span class="ms-2">{{ 'layout.reset_pwd' | translate }}</span>
            </a>
            <a mat-button class="ps-5 pb-1 d-flex justfiy-content-start view-nav-btn" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span class="ms-2">{{ 'layout.sign_out' | translate }}</span>
            </a>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>