<section class="container-flex introduction-section ps-3 pe-3 ps-sm-5 pe-sm-5" @landingAnim>
    <div class="row pt-10 top-level-intro">
        <div class="col-xs-12 col-sm-6">
            <h1 class="intro-title">
                {{ 'app_title' | translate | titlecase }}
            </h1>
            <div class="row pt-5">
                <div class="col-12">
                    <h3 class="intro-description">
                        {{ 'landing_page.intro_description' | translate }}
                    </h3>
                </div>
            </div>
            <div class="row pt-5 ps-sm-3">
                <a class="get-started-btn col-xs-6 col-sm-3" color="primary" mat-raised-button
                    [routerLink]="'/login'">{{ 'landing_page.get_started' | translate }}</a>
                <a mat-button href="https://anhnguyenre.com/about-us" class="ms-1 contact-us-btn col-xs-6 col-sm-3">
                    {{ 'landing_page.contact_us' | translate }}
                </a>
            </div>
        </div>
        <div class="d-xs-none d-sm-block col-sm-6 intro-picture">
        </div>
    </div>

    <div class="features-section pt-10 pb-10">
        <mat-card>
            <mat-card-content>
                <div class="row d-flex justify-content-center notable-features-text text-bold pt-2 pb-2">
                    <span>{{ 'landing_page.features_intro' | translate | titlecase }}</span>
                </div>
                <div class="row pt-3 d-flex justify-content-between ms-2 me-2 ms-sm-3 me-sm-3">
                    <mat-card class="col-xs-12 col-sm-3 mb-2 mat-elevation-z3" id="feature-1">
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center pt-2">
                                    <mat-icon class="feature-icon">analytics</mat-icon>
                                </div>
                                <div class="col-12 d-flex justify-content-center h5 pt-2">{{ 'landing_page.feature_1' |
                                    translate | titlecase }}</div>
                                <div class="col-12 feature-descriptive pt-5">
                                    {{ 'landing_page.feature_1_descr' | translate }}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="col-xs-12 col-sm-3 mb-2 mat-elevation-z3" id="feature-2">
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center pt-2">
                                    <mat-icon class="feature-icon">check_circle</mat-icon>
                                </div>
                                <div class="col-12 d-flex justify-content-center h5 pt-2">{{ 'landing_page.feature_2' |
                                    translate | titlecase }}</div>
                                <div class="col-12 feature-descriptive pt-5">
                                    {{ 'landing_page.feature_2_descr' | translate }}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="col-xs-12 col-sm-3 mb-2 mat-elevation-z3" id="feature-3">
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center pt-2">
                                    <mat-icon class="feature-icon">security</mat-icon>
                                </div>
                                <div class="col-12 d-flex justify-content-center h5 pt-2">{{ 'landing_page.feature_3' |
                                    translate | titlecase }}</div>
                                <div class="col-12 feature-descriptive pt-5">
                                    {{ 'landing_page.feature_3_descr' | translate }}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<app-footer></app-footer>