<section class="d-sm-none px-2 py-4">
    <div class="row pb-2">
        <div class="col-12">
            <ng-container [ngTemplateOutlet]="propertyComposition"></ng-container>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-12">
            <ng-container [ngTemplateOutlet]="soonToExpireProps"></ng-container>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-12">
            <ng-container [ngTemplateOutlet]="recentActivities"></ng-container>
        </div>
    </div>
</section>

<section class="d-none d-sm-block px-2 py-4">
    <div class="row">
        <div class="col-sm-4">
            <ng-container [ngTemplateOutlet]="propertyComposition"></ng-container>
        </div>
        <div class="col-sm-8">
            <div>
                <ng-container [ngTemplateOutlet]="soonToExpireProps"></ng-container>
            </div>
            <div class="pt-2">
                <ng-container [ngTemplateOutlet]="recentActivities"></ng-container>
            </div>
        </div>
    </div>
</section>

<ng-template #propertyComposition>
    <mat-card class="mat-elevation-z1">
        <mat-card-title>
            <div class="row">
                <div class="col-6">
                    <span class="ps-3 pt-3">
                        {{ 'summary.overview' | translate }}
                    </span>
                </div>
                <mat-form-field class="col-6" style="font-size: 14px">
                    <mat-label>{{ 'summary.view_by' | translate }}</mat-label>
                    <mat-select value="category" (selectionChange)="onChartViewChange($event.value)">
                        <mat-option value="category">{{ 'summary.category' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="chart d-sm-none">
                <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
                    [plugins]="pieChartPlugins" height="300">
                </canvas>
            </div>
            <div class="chart d-none d-sm-block">
                <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
                    [plugins]="pieChartPlugins" height="500">
                </canvas>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #soonToExpireProps>
    <mat-card class="mat-elevation-z1">
        <mat-card-title>
            <div class="d-flex justify-content-between ps-3 pe-3 pt-3">
                <div>
                    {{'summary.contracts_expiring_soon' | translate }}
                </div>
                <button mat-raised-button (click)="viewProperties()">{{ 'summary.view_all' | translate }}
                    <mat-icon>arrow_right_alt</mat-icon>
                </button>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="d-sm-none pt-3 ps-2">
                <div class="row pb-2" *ngFor="let prop of soonToExpireProperties; let i = index">
                    <div class="col-12">
                        <mat-divider *ngIf="i != 0" inset="true"></mat-divider>
                    </div>
                    <div class="col-12">
                        <button mat-button (click)="showPropDetails(prop)"
                            class="text-bold d-flex justify-content-start">
                            <span class="property-name-mobile">
                                <span class="pe-2">
                                    <mat-icon class="property-type-icon" *ngIf="prop.category === 'Apartment'">
                                        apartment</mat-icon>
                                    <mat-icon class="property-type-icon" *ngIf="prop.category === 'Villa'">villa
                                    </mat-icon>
                                    <mat-icon class="property-type-icon" *ngIf="prop.category === 'Townhouse'">
                                        door_sliding</mat-icon>
                                    <mat-icon class="property-type-icon" *ngIf="prop.category === 'Commercial'">
                                        store_front</mat-icon>
                                </span>
                                <span>{{prop.name}}</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-12 ps-3" style="color: gray">
                        {{'summary.expiring_soon_msg' | translate:{ month: calculateExpiry(prop) } }}
                    </div>
                </div>
            </div>

            <div class="d-none d-sm-block pt-3 ps-4">
                <div class="pb-3 row">
                    <div class="col-3 table-header">{{ 'summary.property' | translate }}</div>
                    <div class="col-3 table-header">{{ 'summary.time_to_exp' | translate }}</div>
                    <div class="col-3 table-header">{{ 'summary.end_date' | translate }}</div>
                    <div class="col-3 table-header">{{ 'summary.owner' | translate }}</div>
                </div>
                <div class="row pb-1" *ngFor="let prop of soonToExpireProperties">
                    <button mat-button (click)="showPropDetails(prop)"
                        class="col-3 property-name text-bold d-flex justify-content-start">
                        <mat-icon class="property-type-icon" *ngIf="prop.category === 'Apartment'">
                            apartment</mat-icon>
                        <mat-icon class="property-type-icon" *ngIf="prop.category === 'Villa'">villa
                        </mat-icon>
                        <mat-icon class="property-type-icon" *ngIf="prop.category === 'Townhouse'">
                            door_sliding</mat-icon>
                        <mat-icon class="property-type-icon" *ngIf="prop.category === 'Commercial'">
                            store_front</mat-icon>
                        <span>
                            {{prop.name}}
                        </span>
                    </button>
                    <div class="col-3 pt-2" style="color: gray">
                        {{'summary.expiring_soon_msg' | translate:{ month: calculateExpiry(prop) } }}
                    </div>
                    <div class="col-3 pt-2 text-bold">
                        {{prop.managementEndDate?.toDate() | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="col-3 pt-2">
                        {{prop.owner?.contactName}}
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #recentActivities>
    <div class="mat-elevation-z3" style="border-radius: 15px">
        <div class="d-flex justify-content-between">
            <span matCardTitle class="ps-3 pt-3">{{ 'summary.recent_activities' | translate }}</span>
            <button class="mt-3 me-3" mat-raised-button (click)="viewActivities()">
                <span>{{ 'summary.view_all' | translate }}</span>
                <mat-icon>arrow_right_alt</mat-icon>
            </button>
        </div>
        <activity-list [showViewMore]="false" [activities]="newestActivities"></activity-list>
    </div>
</ng-template>