@use "src/app/styles/colors" as colors;

.table-header {
    color: rgb(161, 161, 161);
    font-weight: bold
}

.property-name {
    font-size: 0.8rem;
    color: colors.$accent;
}

.time-to-expiry {
    font-size: 0.8rem;
    color: gray;
}

.overrun-wrap {
    max-height: 2rem;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}