@use "src/app/styles/colors" as colors;

mat-card {
    border-radius: 15px;
}

.controls-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    z-index: 1;
}

.new-activity-panel-class {
    width: fit-content;
}

.card-title {
    color: colors.$accent;
    font-size: 18px;
}

.content-label {
    font-size: 0.75rem;
    color: gray;
}

.activity {
    font-size: 0.9rem;
}

.activity-description {
    font-size: 0.8rem;
}

.overrun-wrap {
    white-space: nowrap;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.no-longer-managed {
    background: repeating-linear-gradient(
        -45deg,
        rgb(238, 238, 238),
        rgb(238, 238, 238) 10px,
        rgb(226, 226, 226) 10px,
        rgb(226, 226, 226) 20px
    );
}

.tenant-info,
.owner-info {
    font-size: 0.75rem;
}
