<mat-card class="pe-4" [class.no-longer-managed]="propertyNoLongerManaged">
    <ng-container *ngIf="(roles.roles$ | async)?.includes('customer-service')">
        <ng-container *ngTemplateOutlet="cardControls"></ng-container>
    </ng-container>
    <ng-container [ngTemplateOutlet]="desktopCardView"></ng-container>
</mat-card>

<ng-template #desktopCardView>
    <mat-card-title>
        <div class="card-title overrun-wrap" *ngIf="property.name" [matTooltip]="property.name || ''">
            {{property.name}}
        </div>
    </mat-card-title>
    <mat-card-content class="mb-0">
        <div class="pb-2" *ngIf="property.owner">
            <div class="content-label">{{ 'property_card.owner' | translate }}</div>
            <div *ngIf="property.owner.contactName" class="overrun-wrap">{{property.owner.contactName}}</div>
            <div *ngIf="property.owner.contactInfo" class="overrun-wrap">{{property.owner.contactInfo}}</div>
        </div>

        <div *ngIf="property.managementStartDate && property.managementEndDate" class="row pb-2">
            <div class="col-6">
                <div class="content-label">{{ 'property_card.start_date' | translate }}</div>
                <div id="mgmtStartDate">{{property.managementStartDate.toDate() | date:'dd/MM/yyyy' }}</div>
            </div>
            <div class="col-6">
                <div class="content-label">{{ 'property_card.end_date' | translate }}</div>
                <div id="mgmtEndDate">{{property.managementEndDate.toDate() | date:'dd/MM/yyyy' }}</div>
            </div>
        </div>

        <div class="row pb-2">
            <div class="col-12">
                <div class="content-label">{{ 'property_card.contract_progress' | translate }}</div>
                <mat-progress-bar [value]="contractProgress"></mat-progress-bar>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="pt-2">
            <div class="content-label activity">{{ 'property_card.most_recent_activity' | translate }}
                <span *ngIf="mostRecentActivity">- {{timestampToDate(mostRecentActivity.date) | date:'dd/MM/yyyy'}}
                </span>
            </div>

            <div *ngIf="mostRecentActivity; else noRecentActivity" class="overrun-wrap">
                {{mostRecentActivity.description}}
            </div>
            <ng-template #noRecentActivity>
                <div>{{ 'property_card.no_recent_activity' | translate }}</div>
            </ng-template>
        </div>
    </mat-card-content>
</ng-template>

<ng-template #cardControls>
    <button mat-icon-button class="controls-btn" [matMenuTriggerFor]="controlsMenu"
        [matTooltip]="'property_card.edit' | translate" (click)="$event.stopPropagation()">
        <mat-icon color="accent">more_horiz</mat-icon>
    </button>

    <mat-menu #controlsMenu="matMenu">
        <button mat-menu-item class="d-block" (click)="editProperty($event)">
            <mat-icon color="accent">edit</mat-icon>
            <span>{{ 'property_card.edit_info' | translate }}</span>
        </button>
        <button mat-menu-item class="d-block" (click)="extendContract($event)">
            <mat-icon color="accent">more_time</mat-icon>
            <span>{{ 'property_card.extend_contract' | translate }}</span>
        </button>
        <button *ngIf="!propertyNoLongerManaged" mat-menu-item class="d-block" (click)="deactivateContract($event)">
            <mat-icon color="accent">cancel_presentation_icon</mat-icon>
            <span>{{ 'property_card.deactivate_contract' | translate }}</span>
        </button>
        <button mat-menu-item class="d-block" (click)="deleteProperty($event)">
            <mat-icon color="accent">delete</mat-icon>
            <span>{{ 'property_card.remove' | translate }}</span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #confirmationDialog>
    <section class="container-flex justify-content-between">
        <p class="pb-2">{{ 'property_card.delete_confirmation_msg' | translate }}</p>
        <div class="d-flex justify-content-end">
            <button class="px-5 me-3" mat-raised-button [mat-dialog-close]="false">{{ 'property_card.no_msg' | translate
                }}</button>
            <button class="px-5" mat-raised-button color="accent" [mat-dialog-close]="true">
                {{ 'property_card.yes_msg' | translate }}
            </button>
        </div>
    </section>
</ng-template>