<mat-card class="pe-4" [class.no-longer-managed]="propertyNoLongerManaged">
    <ng-container *ngIf="(roles.roles$ | async)?.includes('customer-service')">
        <ng-container *ngTemplateOutlet="cardControls"></ng-container>
    </ng-container>
    <ng-container [ngTemplateOutlet]="desktopCardView"></ng-container>
</mat-card>

<ng-template #desktopCardView>
    <mat-card-title class="ps-3">
        <div class="card-title overrun-wrap" *ngIf="property.name" [matTooltip]="property.name || ''">
            {{property.name}}
        </div>
    </mat-card-title>
    <mat-card-content class="mb-0">
        <div class="owner-info" *ngIf="property.owner">
            <div *ngIf="property.owner.contactName" class="overrun-wrap">
                <mat-icon [matTooltip]="'property_card.owner' | translate" style="font-size: 1.2rem; color:gray">key
                </mat-icon>
                <span class="ps-1">{{property.owner.contactName}}</span>
            </div>
            <div *ngIf="property.owner.contactInfo" class="overrun-wrap">{{property.owner.contactInfo}}</div>
        </div>

        <div class="pb-3 tenant-info" *ngIf="property.owner">
            <div *ngIf="property.tenantName" class="overrun-wrap">
                <mat-icon [matTooltip]="'property_card.tenant' | translate" style="font-size: 1.2rem; color:gray">
                    description</mat-icon>
                <span class="ps-1">{{property.tenantName}}</span>
            </div>
        </div>

        <div *ngIf="property.managementStartDate && property.managementEndDate" class="row pb-3">
            <div class="col-5">
                <div class="content-label">
                    <mat-icon style="color: green;">event_available</mat-icon>
                    <span class="ps-1"> {{ 'property_card.start_date' | translate }}</span>
                </div>
                <div class="text-bold" id="mgmtStartDate">
                    {{property.managementStartDate.toDate() | date:'dd/MM/yyyy' }}
                </div>
            </div>
            <div class="col-2 pt-1 px-0">
                <mat-icon style="font-size: 2rem; width: fit-content; height: fit-content">arrow_right_alt</mat-icon>
            </div>
            <div class="col-5">
                <div class="content-label">
                    <mat-icon style="color: red;">event_busy</mat-icon>
                    <span class="ps-1">{{ 'property_card.end_date' | translate }}</span>
                </div>
                <div class="text-bold" id="mgmtEndDate">{{property.managementEndDate.toDate() | date:'dd/MM/yyyy' }}
                </div>
            </div>
        </div>

        <div class="row pb-2">
            <div class="col-12">
                <div class="pb-1 content-label">
                    <mat-icon color="primary">timelapse</mat-icon>
                    <span class="ps-1">{{ 'property_card.contract_progress' | translate }}</span>
                </div>
                <div>
                    <mat-progress-bar [value]="contractProgress"></mat-progress-bar>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="pt-2">
            <div class="activity text-bold pe-1">{{ 'property_card.most_recent_activity' | translate }}</div>

            <div *ngIf="mostRecentActivity; else noRecentActivity" class="overrun-wrap activity-description">
                {{mostRecentActivity.description}}
            </div>
            <ng-template #noRecentActivity>
                <div class="activity-description">{{ 'property_card.no_recent_activity' | translate }}</div>
            </ng-template>
        </div>
    </mat-card-content>
</ng-template>

<ng-template #cardControls>
    <button mat-icon-button class="controls-btn" [matMenuTriggerFor]="controlsMenu"
        [matTooltip]="'property_card.edit' | translate" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #controlsMenu="matMenu">
        <button mat-menu-item class="d-block py-2" (click)="editProperty($event)">
            <mat-icon matPrefix color="accent">edit</mat-icon>
            <span>{{ 'property_card.edit_info' | translate }}</span>
        </button>

        <mat-divider inset="true"></mat-divider>

        <button *ngIf="propertyNoLongerManaged" mat-menu-item class="d-block py-2" (click)="newContract($event)">
            <mat-icon matPrefix color="accent">add</mat-icon>
            <span>{{'property_card.new_contract' | translate}}</span>
        </button>
        <button *ngIf="!propertyNoLongerManaged" mat-menu-item class="d-block py-2" (click)="extendContract($event)">
            <mat-icon matPrefix color="accent">more_time</mat-icon>
            <span>{{ 'property_card.extend_contract' | translate }}</span>
        </button>
        <button *ngIf="!propertyNoLongerManaged" mat-menu-item class="d-block py-2"
            (click)="deactivateContract($event)">
            <mat-icon matPrefix color="accent">cancel_presentation_icon</mat-icon>
            <span>{{ 'property_card.deactivate_contract' | translate }}</span>
        </button>

        <mat-divider inset="true"></mat-divider>

        <button mat-menu-item class="d-block py-2" (click)="deleteProperty($event)">
            <mat-icon matPrefix color="accent">delete</mat-icon>
            <span>{{ 'property_card.remove' | translate }}</span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #confirmationDialog>
    <section class="container-flex justify-content-between">
        <p class="pb-2">{{ 'property_card.delete_confirmation_msg' | translate }}</p>
        <div class="d-flex justify-content-end">
            <button class="px-5 me-3" mat-raised-button [mat-dialog-close]="false">{{ 'property_card.no_msg' | translate
                }}</button>
            <button class="px-5" mat-raised-button color="accent" [mat-dialog-close]="true">
                {{ 'property_card.yes_msg' | translate }}
            </button>
        </div>
    </section>
</ng-template>