@use "src/app/styles/colors" as colors;

mat-card {
    border-radius: 15px;
}

.controls-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    backdrop-filter: blur(10px);
    border-radius: 6px;
    z-index: 1;
}

.new-activity-panel-class {
    width: fit-content;
}

.card-title {
    color: colors.$accent;
    font-size: 18px;
}

.content-label {
    font-size: 0.75rem;
    color: gray;
}

.activity {
    color: colors.$primary-dark;
}

.overrun-wrap {
    white-space: nowrap;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}
