@use "src/app/styles/colors" as colors;

.register-prop-btn {
    border-radius: 15px;
}

::ng-deep {
    .mat-tab-label {
        color: rgba(0, 0, 0, 1) !important;
    }

    .mat-tab-label-active {
        .mat-tab-label-content {
            color: colors.$accent !important;
        }
    }
}

mat-drawer {
    background: rgb(242, 242, 242) !important;
}

.view-nav-btn {
    color: rgb(67, 63, 63);
    .mat-icon {
        color: rgb(67, 63, 63);
    }
}

.active-nav-btn {
    padding-left: 30px;
    background: colors.$accent-50 !important;
    color: colors.$accent !important;
    .mat-icon {
        color: colors.$accent !important;
    }
}
