@use "src/app/styles/colors" as colors;

.register-prop-btn {
    border-radius: 15px;
}

::ng-deep {
    .mat-tab-label-active {
        .mat-tab-label-content {
            color: colors.$accent !important;
        }
    }
}

.active-nav-btn {
    background: colors.$accent-50;
    color:  colors.$accent;
    .mat-icon {
        color: colors.$accent;
    }
}
