<section class="container-flex">
    <div *ngIf="isDesktop">
        <mat-drawer-container class="default-background" style="height: 100vh;">
            <mat-drawer mode="side" opened autoFocus="false" style="width: 15vw">
                <div class="row mt-4 me-1">
                    <!-- <ng-container *ngIf="(roles.roles$ | async )?.includes('customer-service')">
                        <button *ngIf="(roles.roles$ | async )?.includes('customer-service')"
                            class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewOwners()">
                            <span class="ps-4 ps-ms-4"></span>
                            <mat-icon color="accent">people_outline</mat-icon>
                            <span class="ps-3 d-none d-sm-inline">{{ 'property_management.owner_list' | translate
                                }}</span>
                        </button>
                        <div class="col-12 pb-1">
                            <mat-divider inset="true"></mat-divider>
                        </div>
                    </ng-container> -->

                    <button class="col-12 pb-1 d-flex view-nav-btn active-nav-btn" mat-button (click)="viewSummary()">
                        <span class="ps-2 ps-sm-4"></span>
                        <mat-icon>dashboard</mat-icon>
                        <span class="ps-3 d-none d-sm-inline">{{ 'property_management.summary' | translate }}</span>
                    </button>
                    <button class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewProperties()">
                        <span class="ps-2 ps-sm-4"></span>
                        <mat-icon>holiday_village</mat-icon>
                        <span class="ps-3 d-none d-sm-inline">{{ 'property_management.properties' | translate }}</span>
                    </button>
                    <button class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewActivities()">
                        <span class="ps-2 ps-sm-4"></span>
                        <mat-icon>view_list</mat-icon>
                        <span class="ps-3 d-none d-sm-inline">{{ 'property_management.activities' | translate }}</span>
                    </button>
                    <button class="col-12 pb-1 d-flex view-nav-btn" mat-button (click)="viewInvoices()">
                        <span class="ps-2 ps-sm-4"></span>
                        <mat-icon>request_quote</mat-icon>
                        <span class="ps-3 d-none d-sm-inline">{{ 'property_management.invoices' | translate }}</span>
                    </button>
                </div>
            </mat-drawer>

            <mat-drawer-content>
                <router-outlet name="property-management-outlet"></router-outlet>
            </mat-drawer-content>

        </mat-drawer-container>
    </div>

    <div *ngIf="!isDesktop" class="default-background">
        <mat-tab-group color="accent" dynamicHeight="true" (selectedIndexChange)="changeView($event)" mat-stretch-tabs>
            <!-- <mat-tab *ngIf="(roles.roles$ | async )?.includes('customer-service')">
                <ng-template mat-tab-label>
                    <span (click)="viewSummary()">{{ 'property_management.summary' | translate }}</span>
                </ng-template>
            </mat-tab> -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="tab-label" (click)="viewProperties()">{{ 'property_management.properties' |
                        translate }}</span>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="tab-label" (click)="viewActivities()">{{ 'property_management.activities' |
                        translate }}</span>
                </ng-template>
            </mat-tab>
            <!-- <mat-tab *ngIf="(roles.roles$ | async )?.includes('customer-service')">
                <ng-template mat-tab-label>
                    <span (click)="viewInvoices()">{{ 'property_management.invoices' | translate }}</span>
                </ng-template>
            </mat-tab> -->
        </mat-tab-group>
        <router-outlet name="property-management-outlet"></router-outlet>
    </div>
</section>