@use "src/app/styles/colors" as colors;
::ng-deep {
    .mat-tab-label {
        color: rgba(0, 0, 0, 1) !important;
    }

    .mat-tab-label-active {
        .mat-tab-label-content {
            color: colors.$accent !important;
        }
    }
}

mat-drawer {
    background: white !important;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}

.menu-heading {
    font-size: 20px;
    color: colors.$accent-300;
}
