<mat-accordion multi="true">
    <mat-expansion-panel #invoicePanel *ngFor="let invoice of invoices"
        (mouseenter)="showActions(editBtn, paymentReceivedBtn, payoutSentBtn)"
        (mouseleave)="hideActions(editBtn, paymentReceivedBtn, payoutSentBtn)"
        (afterExpand)="showActions(editBtn, paymentReceivedBtn, payoutSentBtn)"
        (afterCollapse)="hideActions(editBtn, paymentReceivedBtn, payoutSentBtn)">
        <mat-expansion-panel-header [collapsedHeight]="'fit-content'">
            <mat-panel-title>
                <div class="invoice-title py-2">
                    <div class="text-bold">
                        <span>{{invoice.propertyName}}</span>
                    </div>
                    <div class="invoice-description text-bold" style="color: gray">
                        <span>{{invoice.description}}</span>
                    </div>
                    <div class="invoice-description" style="color: gray">
                        <span>{{invoice.beginDate?.toDate() | date: 'dd/MM/yyyy'}}</span>
                        <span class="px-1">
                            <mat-icon>arrow_right_alt</mat-icon>
                        </span>
                        <span>{{invoice.dueDate?.toDate() | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                <div class="row invoice-description" style="width: 80%">
                    <div class="col-4 pt-3 d-flex justify-content-center">{{invoice.payer}}</div>
                    <div class="col-4 px-1">
                        <div class="d-flex justify-content-center">
                            <span class="text-bold" style="color: black;">{{invoice.amount}}</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-icon class="payments-icon" color="primary">payments</mat-icon>
                            <mat-icon class="arrow-icon" color="primary">trending_flat</mat-icon>
                        </div>
                    </div>
                    <div class="col-4 pt-3  d-flex justify-content-center">{{invoice.payee}}</div>
                </div>
            </mat-panel-description>
            <div class="pt-3" style="display: none" #editBtn>
                <button *ngIf="canEditInvoices && !invoicesBeingEdited.includes(invoice.id!)" mat-button
                    (click)="$event.stopPropagation(); editInvoice(invoicePanel, invoice);"
                    [matTooltip]="'invoice_list.edit_invoice' | translate">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="pt-3" style="display: none" #paymentReceivedBtn>
                <button *ngIf="canEditInvoices 
                    && invoice.status === 'unpaid' 
                    && !invoicesBeingEdited.includes(invoice.id!)" mat-button
                    [matTooltip]="'invoice_list.payment_received' | translate"
                    (click)="$event.stopPropagation(); invoicePaymentReceived(invoice)">
                    <mat-icon color="accent">check</mat-icon>
                </button>
            </div>
            <div class="pt-3" style="display: none" #payoutSentBtn>
                <button *ngIf="canEditInvoices 
                    && invoice.status === 'paid'
                    && !invoicesBeingEdited.includes(invoice.id!)" mat-button
                    [matTooltip]="'invoice_list.paid_out' | translate"
                    (click)="$event.stopPropagation(); invoicePaidOut(invoice)">
                    <mat-icon color="accent">check</mat-icon>
                </button>
            </div>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="pt-3">
                <ng-container *ngIf="!invoicesBeingEdited.includes(invoice.id!)" [ngTemplateOutlet]="invoiceDetails"
                    [ngTemplateOutletContext]="{invoice: invoice}">
                </ng-container>
                <ng-container *ngIf="invoicesBeingEdited.includes(invoice.id!)" [ngTemplateOutlet]="invoiceEdit"
                    [ngTemplateOutletContext]="{invoice: invoice}">
                </ng-container>
            </div>

            <div *ngIf="invoicesBeingEdited.includes(invoice.id!)" class="d-flex justify-content-end">
                <button mat-button (click)="cancelEdit(invoice)">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-button (click)="saveEdit(invoice)">
                    <mat-icon color="accent">save</mat-icon>
                </button>
            </div>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #invoiceDetails let-invoice="invoice">
    <div class="row">
        <label-span class="col-4" [label]="'invoice_list.payer' | translate" [span]="invoice.payer">
        </label-span>
        <label-span class="col-4" [label]="'invoice_list.payee' | translate" [span]="invoice.payee">
        </label-span>
        <label-span class="col-4" [label]="'invoice_list.amount' | translate" [span]="invoice.amount">
        </label-span>
    </div>
    <div class="row pt-2">
        <label-span class="col-4" [label]="'invoice_list.begin_date' | translate"
            [span]="invoice.beginDate!.toDate() | date: 'dd/MM/yyyy'">
        </label-span>
        <label-span class="col-4" [label]="'invoice_list.due_date' | translate"
            [span]="invoice.dueDate!.toDate() | date: 'dd/MM/yyyy'">
        </label-span>
        <label-span *ngIf="invoice.payoutDate" class="col-4" [label]="'invoice_list.payout_date' | translate"
            [span]="invoice.payoutDate!.toDate() | date: 'dd/MM/yyyy'">
        </label-span>
    </div>
    <div class="row pt-2 d-flex justify-content-between">
        <label-span class="col-12" [label]="'invoice_list.description' | translate" [span]="invoice.description">
        </label-span>
    </div>
</ng-template>

<ng-template #invoiceEdit let-invoice="invoice">
    <div class="row">
        <mat-form-field class="col-4">
            <mat-label>{{ 'invoice_list.payer' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="invoice.payer">
        </mat-form-field>
        <mat-form-field class="col-4">
            <mat-label>{{ 'invoice_list.payee' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="invoice.payee">
        </mat-form-field>
        <mat-form-field class="col-4">
            <mat-label>{{ 'invoice_list.amount' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="invoice.amount">
        </mat-form-field>
    </div>
    <div class="row pt-2">
        <mat-form-field class="col-4">
            <mat-label>{{ 'invoice_list.begin_date' | translate }}</mat-label>
            <input readonly matInput [matDatepicker]="beginDatePicker" type="text"
                [ngModel]="invoice.beginDate.toDate() | date: 'yyyy-MM-dd'" (click)="beginDatePicker.open()">
            <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #beginDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-4">
            <mat-label>{{ 'invoice_list.due_date' | translate }}</mat-label>
            <input readonly matInput type="text" [matDatepicker]="dueDatePicker"
                [ngModel]="invoice.dueDate.toDate() | date: 'yyyy-MM-dd'" (click)="dueDatePicker.open()">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="invoice.payoutDate" class="col-4">
            <mat-label>{{ 'invoice_list.payout_date' | translate }}</mat-label>
            <input readonly matInput type="text" [matDatepicker]="payoutDatePicker"
                [ngModel]="invoice.dueDate.toDate() | date: 'yyyy-MM-dd'" (click)="payoutDatePicker.open()">
            <mat-datepicker-toggle matSuffix [for]="payoutDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #payoutDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row pt-2">
        <mat-form-field class="col-12">
            <mat-label>{{ 'invoice_list.description' | translate }}</mat-label>
            <textarea matInput type="text" [(ngModel)]="invoice.description"></textarea>
        </mat-form-field>
    </div>
</ng-template>