@use "src/app/styles/colors" as colors;

.invoice-title {
    color: colors.$accent;
}

.invoice-description {
    font-size: 0.8rem;
    font-weight: normal;
    color: gray;
}

.label {
    font-size: 1.2rem;
    text-decoration: bold;
}

.payments-icon {
    width: fit-content;
    font-size: 1rem;
}

.arrow-icon {
    width: fit-content;
    font-size: 1.5rem;
}

.overrun-wrap {
    max-height: 3rem;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.invoice-actions-group {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 28px;
    top: 0;
    padding-top: 8px;

    @media only screen and (max-width: 768px) {
        padding-top: 0px;
        right: 12px;
        backdrop-filter: blur(10px);
    }
}
