@use "src/app/styles/colors" as colors;

.invoice-title {
    color: colors.$accent-300;
}

.invoice-description {
    font-size: 0.8rem;
}

.label {
    font-size: 1.2rem;
    text-decoration: bold;
}
