<mat-accordion multi="true">
    <mat-expansion-panel #invoicePanel *ngFor="let invoice of invoices"
        (mouseenter)="showActions(editBtn, paymentReceivedBtn, payoutSentBtn)"
        (mouseleave)="hideActions(editBtn, paymentReceivedBtn, payoutSentBtn)">
        <mat-expansion-panel-header>
            <mat-panel-title class="invoice-title">
                <span>{{invoice.propertyName}}</span>
            </mat-panel-title>
            <mat-panel-description class="invoice-description d-none d-sm-block">
                <span class="pe-5">{{ 'invoice_list.from' | translate }}: {{invoice.payer}}</span>
                <span class="pe-5">{{invoice.amount}}</span>
                <span class="pe-5">{{ 'invoice_list.period' | translate }}: {{invoice.paymentWindow}}</span>
            </mat-panel-description>
            <div style="display: none" #editBtn>
                <button *ngIf="canEditInvoices && !invoicesBeingEdited.includes(invoice.id!)" mat-button
                    (click)="$event.stopPropagation(); editInvoice(invoicePanel, invoice);">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div style="display: none" #paymentReceivedBtn>
                <button *ngIf="canEditInvoices 
                    && invoice.status === 'unpaid' 
                    && !invoicesBeingEdited.includes(invoice.id!)" mat-button
                    [matTooltip]="'invoice_list.payment_received' | translate"
                    (click)="$event.stopPropagation(); paymentReceived(invoice)">
                    <mat-icon color="accent">check</mat-icon>
                </button>
            </div>
            <div style="display: none" #payoutSentBtn>
                <button *ngIf="canEditInvoices 
                    && invoice.status === 'paid'
                    && !invoicesBeingEdited.includes(invoice.id!)" mat-button
                    [matTooltip]="'invoice_list.paid_out' | translate"
                    (click)="$event.stopPropagation(); invoicePaidOut(invoice)">
                    <mat-icon color="accent">check</mat-icon>
                </button>
            </div>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <ng-container *ngIf="!invoicesBeingEdited.includes(invoice.id!)" [ngTemplateOutlet]="invoiceDetails"
                [ngTemplateOutletContext]="{invoice: invoice}">
            </ng-container>
            <ng-container *ngIf="invoicesBeingEdited.includes(invoice.id!)" [ngTemplateOutlet]="invoiceEdit"
                [ngTemplateOutletContext]="{invoice: invoice}">
            </ng-container>

            <div *ngIf="invoicesBeingEdited.includes(invoice.id!)" class="d-flex justify-content-end">
                <button mat-button (click)="cancelEdit(invoice)">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-button (click)="saveEdit(invoice)">
                    <mat-icon color="accent">save</mat-icon>
                </button>
            </div>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #invoiceDetails let-invoice="invoice">
    <div class="row d-flex justify-content-between">
        <label-span class="col-12" [label]="'invoice_list.description' | translate" [span]="invoice.description!">
        </label-span>
    </div>
    <div class="row pt-1">
        <label-span class="col-6" [label]="'invoice_list.payer' | translate" [span]="invoice.payer!">
        </label-span>
        <label-span class="col-6" [label]="'invoice_list.payee' | translate" [span]="invoice.payee!">
        </label-span>
    </div>
</ng-template>

<ng-template #invoiceEdit let-invoice="invoice">
    <div class="row">
        <mat-form-field class="col-12">
            <mat-label>{{ 'invoice_list.description' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="invoice.description">
        </mat-form-field>
    </div>
    <div class="row pt-1">
        <mat-form-field class="col-6">
            <mat-label>{{ 'invoice_list.payer' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="invoice.payer">
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>{{ 'invoice_list.payee' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="invoice.payee">
        </mat-form-field>
    </div>
</ng-template>