@use "src/app/styles/colors" as colors;

.title-date {
    font-weight: 500;
}

.property-name {
    color: colors.$accent-300;
    font-weight: 500;
}

.activity-description,
.property-description {
    color: gray;
    word-wrap: break-word;
    white-space: normal;
}

.property-type-icon {
    color: colors.$accent-300;
}

.activity-line {
    border-left: 2px solid rgba(200, 200, 200, 0.8);
}

.mat-expansion-panel-header-title {
    width: 20vw;
    margin-right: 0 !important;
    align-items: center;
}
