<mat-accordion class="d-none d-sm-block p-1" [@activityItemAnim]="activitiesByDates.length">
    <mat-expansion-panel *ngFor="let activityByDate of activitiesByDates"
        class="mat-elevation-z1 activities-by-date-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="title-date">{{activityByDate.date | date}} </div>
            </mat-panel-title>
            <mat-panel-description>
                <div class="title-description">
                    <span class="pe-1"
                        *ngIf="activityByDate.activities?.length">{{activityByDate.activities.length}}</span>
                    <span *ngIf="activityByDate.activities?.length == 0">{{ 'activity_list.no_activity' |
                        translate }}</span>
                    <span *ngIf="activityByDate.activities?.length == 1">{{ 'activity_list.activity' | translate
                        }}</span>
                    <span *ngIf="activityByDate.activities?.length! > 1">{{ 'activity_list.activities' |
                        translate }}</span>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let activity of activityByDate.activities; let i = index;"
                    class="mat-elevation-z1 activity-panel" (mouseenter)="showDeleteBtn(deleteBtn)"
                    (mouseleave)="hideDeleteBtn(deleteBtn)">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="showPropertyName">
                            <span class="property-name text-bold">{{activity.propertyName}}</span>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class="property-description">
                                <span>{{activity.description}}</span>
                                <span class="ps-1" *ngIf="activity.documents?.length">({{activity.documents?.length}}
                                    {{ 'activity_list.documents' | translate }})
                                </span>
                            </div>
                        </mat-panel-description>
                        <div style="display: none" #deleteBtn>
                            <button *ngIf="canDeleteActivities" mat-button
                                (click)="$event.stopPropagation(); removeActivity(activity)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div *ngIf="!activity.documents?.length">{{ 'activity_list.no_doc' | translate }}</div>
                        <div *ngIf="activity.documents?.length" class="row">
                            <div class="col-12 my-1" *ngFor="let doc of activity.documents">
                                <button mat-raised-button
                                    (click)="$event.stopPropagation(); downloadDoc(activity, doc)">
                                    <mat-icon color="accent">download</mat-icon> {{doc.displayName}}
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="d-sm-none p-1">
    <mat-expansion-panel *ngFor="let activityByDate of activitiesByDates">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="title-date">{{activityByDate.date | date}} </div>
            </mat-panel-title>
            <mat-panel-description>
                <div class="title-description">
                    <span class="pe-1"
                        *ngIf="activityByDate.activities?.length">{{activityByDate.activities.length}}</span>
                    <span *ngIf="activityByDate.activities?.length == 0">{{ 'activity_list.no_activity' |
                        translate }}</span>
                    <span *ngIf="activityByDate.activities?.length == 1">{{ 'activity_list.activity' | translate
                        }}</span>
                    <span *ngIf="activityByDate.activities?.length! > 1">{{ 'activity_list.activities' |
                        translate }}</span>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let activity of activityByDate.activities; let i = index;"
                    class="mat-elevation-z0 activity-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="property-name text-bold">{{activity.propertyName}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div>{{activity.description}}</div>
                        <div *ngIf="activity.documents?.length" class="row">
                            <div class="col-12 my-1" *ngFor="let doc of activity.documents">
                                <button mat-raised-button
                                    (click)="$event.stopPropagation(); downloadDoc(activity ,doc)">
                                    <mat-icon color="accent">download</mat-icon> {{doc.displayName}}
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>