@use "src/app/styles/colors" as colors;

.title-date {
    color: colors.$accent-300;
}

.property-name {
    color: colors.$primary-dark;
    font-size: 0.8rem;
}

.property-description {
    font-size: 0.8rem;
}

.mat-expansion-panel-header-title {
    width: 20vw;
    margin-right: 0 !important;
    align-items: center;
}
