@use "src/app/styles/colors" as colors;

.title-date {
    font-weight: 500;
}

.property-name {
    color: colors.$accent-300;
    font-weight: 500;
}

.activity-description,
.property-description {
    color: gray;
    word-wrap: break-word;
    white-space: normal;
}

.property-type-icon {
    color: colors.$accent-300;
}

.activity {
    .icon-and-time {
        width: 13% !important;
    }
}

.activity-line {
    border-left: 2px solid rgba(200, 200, 200, 0.8);
    margin-left: 9%;
}

.mat-expansion-panel-header-title {
    width: 20vw;
    margin-right: 0 !important;
    align-items: center;
}

.quarter-circle-top-right{
    width: 24px;
    height: 24px;
    background: white;
    border: 2px solid rgba(200, 200, 200, 0.8);
    border-top: 0px;
    border-right: 0px;
    border-radius: 0 0 0 100px;
    -moz-border-radius: 0 0 0 100px;
    -webkit-border-radius: 0 0 0 100px;
}
