<section>
    <div class="row ms-1 me-1" (click)="$event.stopPropagation()">
        <div class="col-12 pt-2 pb-2">
            <div class="h5">{{ 'activity_upload.new_activity' | translate }}</div>
            <mat-divider></mat-divider>
        </div>
        <form #activityForm="ngForm">
            <mat-form-field class="col-12" color="accent">
                <mat-label>{{ 'activity_upload.date' | translate }}</mat-label>
                <input matInput required name="activityDate" [matDatepicker]="activityDatePicker" [(ngModel)]="date" />
                <mat-datepicker-toggle matSuffix [for]="activityDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #activityDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12" color="accent">
                <mat-label>{{ 'activity_upload.description' | translate }}</mat-label>
                <input matInput trim="blur" required type="text" name="activityDesc" [(ngModel)]="description" />
            </mat-form-field>
            <div class="col-12 pb-2">
                <mat-divider class="pt-2 pb-2"></mat-divider>
                <input #filesInput multiple hidden="true" type="file" onclick="this.value=null"
                    (change)="onActivityFileUpload($event)" />
                <button mat-button (click)="filesInput.click()">
                    <mat-icon color="accent">upload_file</mat-icon> {{ 'activity_upload.upload_files' | translate }}
                </button>
                <div class="uploaded-files" cdkDropList
                    (cdkDropListDropped)="uploadedFileDrop($event); activityForm.form.markAsTouched();">
                    <mat-card *ngFor="let doc of newActivityAttachments; let i = index;" cdkDrag>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-8 activty-file-upload-main">
                                    <div #display class="activity-file-name">{{doc.displayName}}</div>
                                    <input #edit trim="blur" hidden="true" type="text" [ngModel]="doc.displayName"
                                        (ngModelChange)="checkBtn.disabled = doesFileNameAlreadyExist($event)"
                                        [ngModelOptions]="{standalone: true}" style="height: 2rem">
                                    <div>
                                        <button #checkBtn mat-button [style.display]="!edit.hidden? '': 'none'" (click)="display.hidden = false;
                                            edit.hidden = true;
                                            onFileNameChange(doc.displayName!, edit.value, doc);
                                            activityForm.form.markAsTouched();">
                                            <mat-icon color="accent">check</mat-icon>
                                        </button>
                                        <button #editBtn mat-button [style.display]="edit.hidden ? '': 'none'"
                                            (click)="display.hidden = true; edit.hidden = false;">
                                            <mat-icon color="accent">edit</mat-icon>
                                        </button>
                                        <button mat-button
                                            (click)="onFileRemove(i); activityForm.form.markAsTouched();">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button mat-button cdkDragHandle>
                                        <mat-icon>drag_handle</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <button mat-button color="accent" class="col-12 pt-1" (click)="addActivity(activityForm)"
                [disabled]="activityForm.untouched || !activityForm.valid">
                <mat-icon>upload</mat-icon> {{ 'activity_upload.add' | translate }}
            </button>
        </form>
    </div>
</section>