/* You can add global styles to this file, and also import other style files */
@use "app/styles/text";
@use "app/styles/colors";
@use "app/styles/base";
@use "app/styles/nav";
@use "../node_modules/angular-calendar/css/angular-calendar.css";
@use "../node_modules/ngx-easy-table/style.scss";

html,
body {
    overflow-x: hidden;
}

.cdk-global-scrollblock {
    // https://github.com/angular/components/issues/7390#issuecomment-486947151
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

.default-background {
    background-color: white;
    background-size: cover;
    background-position: 0% 50%;
}

#table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-bottom-sheet-container {
    min-height: 95vh;
    min-width: 100vw !important;
    border-radius: 16px 16px 0px 0px !important;
}
