/* You can add global styles to this file, and also import other style files */
@use "app/styles/text";
@use "app/styles/colors";
@use "app/styles/base";
@use "app/styles/nav";
@import "~/node_modules/placeholder-loading/src/scss/placeholder-loading";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~/node_modules/ngx-easy-table/style.scss";

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}

// Only works if it is put here.
.price-input-group .mat-form-field-infix {
    display: inherit !important;
}

mat-spinner {
    margin: 0 auto;
}

.cdk-global-scrollblock {
    // https://github.com/angular/components/issues/7390#issuecomment-486947151
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

.default-background {
    background-color: white;
    background-size: cover;
    background-position: 0% 50%;
}

#table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

mat-card {
    border-radius: 35px 35px 35px 35px !important;
}

button {
    border-radius: 35px 35px 35px 35px !important;
}

.mat-bottom-sheet-container {
    min-height: 95vh;
    min-width: 100vw !important;
    border-radius: 35px 35px 0px 0px !important;
}