<mat-spinner *ngIf="loading" [diameter]="35"></mat-spinner>

<section *ngIf="!loading">
    <h1 class="property-details-title">
        <span>{{property.name}}</span>
        <ng-container *ngIf="property.subcategory">({{property.subcategory}})</ng-container>
    </h1>
    <mat-divider></mat-divider>

    <div class="row py-3">
        <div *ngIf="property.category" class="col-12 col-sm-6">
            <div class="pb-1 text-bold">{{ 'property_details.category' | translate }}</div>
            <div>
                <span *ngIf="property.category === 'Apartment'">{{ 'property_category.apartment' | translate
                    }}</span>
                <span *ngIf="property.category === 'Villa'">{{ 'property_category.villa' | translate
                    }}</span>
                <span *ngIf="property.category === 'Townhouse'">{{ 'property_category.townhouse' | translate
                    }}</span>
                <span *ngIf="property.category === 'Commercial'">{{ 'property_category.commercial' | translate
                    }}</span>
            </div>
        </div>

        <div *ngIf="property.address" class="col-12 col-sm-6">
            <div class="pb-1 text-bold">{{ 'property_details.address' | translate }}</div>
            <div>{{property.address}}</div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row py-3">
        <div *ngIf="property.managementStartDate" class="col-12 col-sm-6">
            <div class="pb-1 text-bold">{{ 'property_details.start_date' | translate }}</div>
            <div>{{property.managementStartDate.toDate() | date: 'dd/MM/yyyy'}}</div>
        </div>
        <div *ngIf="property.managementEndDate" class="col-12 col-sm-6">
            <div class="pb-1 text-bold">{{ 'property_details.end_date' | translate }}</div>
            <div>{{property.managementEndDate.toDate() | date: 'dd/MM/yyyy'}}</div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="property.description" class="pt-3">
        <div class="pb-1 text-bold">{{ 'property_details.important_notes' | translate | titlecase }}</div>
        <div [innerHtml]="property.description"></div>
    </div>

    <div class="pt-3">
        <mat-divider></mat-divider>
        <mat-tab-group color="accent">
            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>view_list</mat-icon>
                    <span class="ps-2">{{'property_details.activities' | translate}}</span>
                </ng-template>
                <div class="p-3">
                    <button mat-raised-button (click)="openActivityUpload()">
                        <mat-icon color="accent">add</mat-icon> {{ 'property_details.add_activity' | translate }}
                    </button>
                    <ng-template #activityUploadTpl>
                        <activity-upload (activityAdded)="addActivity($event)"></activity-upload>
                    </ng-template>
                </div>
                <ng-container *ngIf="activities?.length; else noActivity">
                    <activity-list [activities]="activities!"
                        [canDeleteActivities]="!!(roles.roles$ | async)?.includes('customer-service')">
                    </activity-list>
                    <div *ngIf="showViewMoreActivities" class="row">
                        <button class="d-block pt-2" mat-button (click)="getMoreActivities()" color="accent">
                            {{ 'property_details.view_more' | translate }}
                            <mat-icon>keyboard_double_arrow_down_icon</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #noActivity>
                    <div class="pt-3">{{ 'property_details.no_recent_activities' | translate }}</div>
                </ng-template>
            </mat-tab>

            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>request_quote</mat-icon>
                    <span class="ps-2">{{'property_details.payment_schedules' | translate}}</span>
                </ng-template>

                <div class="p-3">
                    <button mat-raised-button (click)="openScheduleUpload()">
                        <mat-icon color="accent">add</mat-icon> {{ 'property_details.add_sched' | translate }}
                    </button>
                    <ng-template #scheduleUploadTpl>
                        <ng-container *ngFor="let sched of newSchedules; let i = index">
                            <payment-schedule class="my-1" [schedule]="sched" [editable]="true" [property]="property"
                                [columnHeaders]="['description', 'amount', 'paymentWindow']">
                            </payment-schedule>
                        </ng-container>
                        <div class="p-2">
                            <button class="me-2" mat-raised-button (click)="addSchedule()">
                                <mat-icon>add</mat-icon> {{ 'property_upload.add_schedule' | translate }}
                            </button>
                            <button mat-raised-button (click)="uploadSchedules()">
                                <mat-icon>upload</mat-icon> Upload
                            </button>
                        </div>
                    </ng-template>
                </div>

                <div class="row" *ngIf="schedules?.length; else noSchedules">
                    <div class="col-12 p-3" *ngFor="let schedule of schedules">
                        <ngx-table [configuration]="paymentScheduleConfig" [columns]="paymentScheduleCols"
                            [data]="schedule.lineItems!"></ngx-table>
                    </div>
                </div>

                <ng-template #noSchedules>
                    <div class="pt-3">{{ 'property_details.no_schedules' | translate }}</div>
                </ng-template>
            </mat-tab>

            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>description</mat-icon>
                    <span class="ps-2">{{'property_details.related_documents' | translate}}</span>
                </ng-template>

                <div class="p-3">
                    <button mat-raised-button (click)="openFilesUpload()">
                        <mat-icon color="accent">add</mat-icon> {{ 'property_details.add_files' | translate }}
                    </button>
                    <ng-template #filesUploadTpl>
                        <form #uploadForm="ngForm">
                            <input name="uploadedFiles" #filesInput multiple hidden="true" type="file"
                                onclick="this.value=null"
                                (change)="onFileUpload($event); uploadForm.form.markAsTouched();" />
                            <button class="my-2" mat-raised-button (click)="filesInput.click()">
                                <mat-icon color="accent">upload_file</mat-icon> {{ 'property_upload.upload_files' |
                                translate }}
                            </button>
                            <div class="uploaded-files" cdkDropList
                                (cdkDropListDropped)="uploadedFileDrop($event); uploadForm.form.markAsTouched();">
                                <mat-card *ngFor="let doc of uploadedFiles; let i = index;" cdkDrag>
                                    <mat-card-content>
                                        <div class="d-xs-block d-sm-none row">
                                            <div class="col-8">
                                                <span #displayMobile>{{doc.displayName}}</span>
                                                <input #editMobile trim="blur" hidden="true" type="text"
                                                    [ngModel]="doc.displayName"
                                                    (ngModelChange)="checkBtnMobile.disabled = doesFileNameAlreadyExist($event)"
                                                    [ngModelOptions]="{standalone: true}" style="height: 2rem">
                                                <div>
                                                    <button #checkBtnMobile mat-button
                                                        [style.display]="!editMobile.hidden? '': 'none'" (click)="displayMobile.hidden = false;
                                                     editMobile.hidden = true;
                                                     onFileNameChange(doc.displayName!, edit.value, doc);
                                                     uploadForm.form.markAsTouched();">
                                                        <mat-icon color="accent">check</mat-icon>
                                                    </button>
                                                    <button #editBtnMobile mat-button
                                                        [style.display]="editMobile.hidden ? '': 'none'"
                                                        (click)="displayMobile.hidden = true; editMobile.hidden = false;">
                                                        <mat-icon color="accent">edit</mat-icon>
                                                    </button>
                                                    <button mat-button
                                                        (click)="onFileRemove(i); uploadForm.form.markAsTouched();">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <button mat-button cdkDragHandle>
                                                    <mat-icon>drag_handle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-flex justify-content-between">
                                            <span #display>{{doc.displayName}}</span>
                                            <input #edit trim="blur" hidden="true" type="text"
                                                [ngModel]="doc.displayName"
                                                (ngModelChange)="checkBtn.disabled = doesFileNameAlreadyExist($event)"
                                                [ngModelOptions]="{standalone: true}">
                                            <div>
                                                <button #checkBtn mat-button [style.display]="!edit.hidden? '': 'none'"
                                                    (click)="display.hidden = false;
                                                edit.hidden = true;
                                                onFileNameChange(doc.displayName!, edit.value, doc);
                                                uploadForm.form.markAsTouched();">
                                                    <mat-icon color="accent">check</mat-icon>
                                                </button>
                                                <button #editBtn mat-button [style.display]="edit.hidden ? '': 'none'"
                                                    (click)="display.hidden = true; edit.hidden = false;">
                                                    <mat-icon color="accent">edit</mat-icon>
                                                </button>
                                                <button mat-button
                                                    (click)="onFileRemove(i); uploadForm.form.markAsTouched();">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                                <button mat-button cdkDragHandle>
                                                    <mat-icon>drag_handle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div *ngIf="uploadedFiles.length" class="my-2">
                                <button mat-raised-button (click)="uploadFiles()">
                                    <mat-icon color="accent">upload</mat-icon> Upload
                                </button>
                            </div>
                        </form>
                    </ng-template>
                </div>

                <div class="row pt-2" *ngFor="let doc of property.documents">
                    <button mat-button class="col-12 d-flex justify-content-start" (click)="downloadDoc(doc)">
                        <span class="related-document-date">{{doc.date?.toDate() | date:'dd/MM/yyyy'}}</span>
                        <div class="d-inline">
                            {{doc.displayName}}
                        </div>
                        <mat-icon color="accent">download</mat-icon>
                    </button>
                </div>

                <div class="pt-2" *ngIf="!property.documents?.length">
                    {{ 'property_details.no_docs' | translate }}
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>

<ng-template #descriptionTpl let-row>
    <div *ngIf="!invoicesBeingEdited.includes(row.id); else editDescription">
        {{row.description}}
    </div>
    <ng-template #editDescription>
        <mat-form-field>
            <textarea matInput [(ngModel)]="row.description"></textarea>
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #amountTpl let-row>
    <div *ngIf="!invoicesBeingEdited.includes(row.id); else editAmt">
        {{row.amount}}
    </div>
    <ng-template #editAmt>
        <mat-form-field>
            <input matInput [(ngModel)]="row.amount">
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #periodTpl let-row>
    <div *ngIf="!invoicesBeingEdited.includes(row.id); else editPeriod">
        {{row.paymentWindow}}
    </div>
    <ng-template #editPeriod>
        <mat-form-field>
            <mat-label>{{ 'payment_schedule.begin_date' | translate }}</mat-label>
            <input #beginEdit matInput readonly [value]="row.beginDate.toDate() | date: 'yyyy-MM-dd'"
                [matDatepicker]="beginPicker" (click)="beginPicker.open()"
                (blur)="changeInvoiceBeginDate(row, beginEdit)">
            <mat-datepicker-toggle matSuffix [for]="beginPicker"></mat-datepicker-toggle>
            <mat-datepicker #beginPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'payment_schedule.due_date' | translate }}</mat-label>
            <input #endEdit matInput readonly [value]="row.dueDate.toDate() | date: 'yyyy-MM-dd'"
                [matDatepicker]="endPicker" (click)="endPicker.open()" (blur)="changeInvoiceDueDate(row, endEdit)">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #statusTpl let-row>
    <span class="pe-1">
        <mat-icon *ngIf="row.status === 'unpaid'" style="color: crimson">
            assignment_late_icon
        </mat-icon>
        <mat-icon *ngIf="row.status === 'paid'" style="color: darkblue">
            assignment_turned_in_icon
        </mat-icon>
        <mat-icon *ngIf="row.status === 'paidOut'" style="color: green">
            price_check
        </mat-icon>
    </span>
    <span>{{ 'payment_schedule.' + row.status | translate }}</span>
</ng-template>

<ng-template #actionsTpl let-row>
    <button mat-raised-button *ngIf="!invoicesBeingEdited.includes(row.id)" (click)="invoicesBeingEdited.push(row.id)">
        <mat-icon color="accent">edit</mat-icon> {{ 'payment_schedule.edit' | translate }}
    </button>
    <button class="me-2" mat-raised-button *ngIf="invoicesBeingEdited.includes(row.id)" (click)="updateInvoice(row)">
        <mat-icon color="accent">save</mat-icon> {{ 'payment_schedule.save' | translate }}
    </button>
    <button mat-raised-button *ngIf="invoicesBeingEdited.includes(row.id)" (click)="cancelUpdate(row)">
        <mat-icon>close</mat-icon> {{ 'payment_schedule.cancel' | translate }}
    </button>
</ng-template>