<mat-spinner *ngIf="loading" [diameter]="35"></mat-spinner>

<section *ngIf="!loading">
    <div class="pt-3 d-flex justify-content-between">
        <h1 class="property-details-title">
            <span>{{property.name}}</span>
            <ng-container *ngIf="property.subcategory">({{property.subcategory}})</ng-container>
        </h1>
        <button mat-icon-button (click)="closeBottomSheet()">
            <mat-icon color="accent">close</mat-icon>
        </button>
    </div>

    <div class="pt-1">
        <mat-divider></mat-divider>
        <mat-tab-group color="accent">
            <mat-tab id="property-description-tab">
                <ng-template matTabLabel>
                    <mat-icon>info</mat-icon>
                    <span class="ps-2">{{'property_details.description' | translate}}</span>
                </ng-template>
                <div class="px-3">
                    <div class="row py-3">
                        <div *ngIf="property.address" class="col-12 col-sm-6">
                            <div class="pb-1 text-bold">{{ 'property_details.address' | translate }}</div>
                            <div>{{property.address}}</div>
                        </div>
                    </div>

                    <mat-divider inset="true" *ngIf="property.description"></mat-divider>
                    <div *ngIf="property.description" class="pt-3">
                        <div class="pb-1 text-bold">{{ 'property_details.important_notes' | translate }}</div>
                        <div [innerHtml]="property.description"></div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab id="activities-tab">
                <ng-template matTabLabel>
                    <mat-icon>view_list</mat-icon>
                    <span class="ps-2">{{'property_details.activities' | translate}}</span>
                </ng-template>
                <div class="p-3">
                    <button mat-raised-button (click)="openActivityUpload()">
                        <mat-icon color="accent">add</mat-icon> {{ 'property_details.add_activity' | translate }}
                    </button>
                    <ng-template #activityUploadTpl>
                        <activity-upload (activityAdded)="addActivity($event)"></activity-upload>
                    </ng-template>
                </div>
                <ng-container *ngIf="activities?.length; else noActivity">
                    <activity-list [showPropertyName]="false" [activities]="activities!"
                        [canDeleteActivities]="!!(roles.roles$ | async)?.includes('customer-service')">
                    </activity-list>
                    <div *ngIf="showViewMoreActivities" class="row">
                        <button class="d-block pt-2" mat-button (click)="getMoreActivities()" color="accent">
                            {{ 'property_details.view_more' | translate }}
                            <mat-icon>keyboard_double_arrow_down_icon</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #noActivity>
                    <div class="pt-3">{{ 'property_details.no_recent_activities' | translate }}</div>
                </ng-template>
            </mat-tab>

            <mat-tab id="payment-schedule-tab">
                <ng-template matTabLabel>
                    <mat-icon>request_quote</mat-icon>
                    <span class="ps-2">{{'property_details.payment_schedules' | translate}}</span>
                </ng-template>

                <div class="px-3">
                    <div class="p-3">
                        <button mat-raised-button (click)="openScheduleUpload()">
                            <mat-icon color="accent">add</mat-icon> {{ 'property_details.add_sched' | translate }}
                        </button>
                    </div>

                    <div class="row" *ngIf="schedules?.length; else noSchedules">
                        <div class="col-12 p-3">
                            <mat-accordion>
                                <mat-expansion-panel *ngFor="let schedule of schedules">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="schedule-title">
                                                <div class="text-bold" *ngIf="schedule.description">
                                                    {{schedule.description}}
                                                </div>
                                                <div style="font-size: 0.8rem">
                                                    <span>{{schedule.beginDate?.toDate() | date: 'dd/MM/yyyy'}}</span>
                                                    <span class="px-1">
                                                        <mat-icon>arrow_right_alt</mat-icon>
                                                    </span>
                                                    <span>{{schedule.endDate?.toDate() | date: 'dd/MM/yyyy'}}</span>
                                                </div>
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <div *ngIf="schedule.lineItems?.length" class="row schedule-description">
                                                <div class="col-4 pt-3 d-flex justify-content-center">
                                                    {{schedule.lineItems![0].payer}}
                                                </div>
                                                <div class="pt-2 col-4 px-1">
                                                    <div class="d-flex justify-content-center">
                                                        <span class="text-bold" style="color: black;">
                                                            {{schedule.lineItems![0].amount}}
                                                        </span>
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                        <mat-icon class="payments-icon" color="primary">payments
                                                        </mat-icon>
                                                        <mat-icon class="arrow-icon" color="primary">trending_flat
                                                        </mat-icon>
                                                    </div>
                                                </div>
                                                <div class="col-4 pt-3  d-flex justify-content-center">
                                                    {{schedule.lineItems![0].payee}}
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <ng-container matExpansionPanelContent>
                                        <div class="d-flex justify-content-end">
                                            <button class="me-1" *ngIf="schedule.isActive" mat-raised-button
                                                (click)="editSchedule(schedule)">
                                                <mat-icon color="accent">edit</mat-icon> {{
                                                'payment_schedule.edit_schedule' | translate }}
                                            </button>
                                            <button *ngIf="schedule.isActive" mat-raised-button
                                                (click)="deactivateSchedule(schedule)">
                                                <mat-icon>clear</mat-icon> {{
                                                'payment_schedule.deactivate' |
                                                translate }}
                                            </button>
                                        </div>
                                        <ngx-table [configuration]="paymentScheduleConfig"
                                            [columns]="paymentScheduleCols" [data]="schedule.lineItems!"></ngx-table>
                                    </ng-container>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <ng-template #noSchedules>
                        <div class="pt-3">{{ 'property_details.no_schedules' | translate }}</div>
                    </ng-template>
                </div>
            </mat-tab>

            <mat-tab id="related-documents-tab">
                <ng-template matTabLabel>
                    <mat-icon>description</mat-icon>
                    <span class="ps-2">{{'property_details.related_documents' | translate}}</span>
                </ng-template>

                <div class="p-3">
                    <button mat-raised-button (click)="openFilesUpload()">
                        <mat-icon color="accent">add</mat-icon> {{ 'property_details.add_files' | translate }}
                    </button>
                    <ng-template #filesUploadTpl>
                        <form #uploadForm="ngForm">
                            <input name="uploadedFiles" #filesInput multiple hidden="true" type="file"
                                onclick="this.value=null"
                                (change)="onFileUpload($event); uploadForm.form.markAsTouched();" />
                            <button class="my-2" mat-raised-button (click)="filesInput.click()">
                                <mat-icon color="accent">upload_file</mat-icon> {{ 'property_upload.upload_files' |
                                translate }}
                            </button>
                            <div class="uploaded-files my-2" cdkDropList
                                (cdkDropListDropped)="uploadedFileDrop($event); uploadForm.form.markAsTouched();">
                                <mat-card *ngFor="let doc of uploadedFiles; let i = index;" cdkDrag>
                                    <mat-card-content>
                                        <div class="d-xs-block d-sm-none row">
                                            <div class="col-8">
                                                <span #displayMobile>{{doc.displayName}}</span>
                                                <input #editMobile trim="blur" hidden="true" type="text"
                                                    [ngModel]="doc.displayName"
                                                    (ngModelChange)="checkBtnMobile.disabled = doesFileNameAlreadyExist($event)"
                                                    [ngModelOptions]="{standalone: true}" style="height: 2rem">
                                                <div>
                                                    <button #checkBtnMobile mat-button
                                                        [style.display]="!editMobile.hidden? '': 'none'" (click)="displayMobile.hidden = false;
                                                     editMobile.hidden = true;
                                                     onFileNameChange(doc.displayName!, edit.value, doc);
                                                     uploadForm.form.markAsTouched();">
                                                        <mat-icon color="accent">check</mat-icon>
                                                    </button>
                                                    <button #editBtnMobile mat-button
                                                        [style.display]="editMobile.hidden ? '': 'none'"
                                                        (click)="displayMobile.hidden = true; editMobile.hidden = false;">
                                                        <mat-icon color="accent">edit</mat-icon>
                                                    </button>
                                                    <button mat-button
                                                        (click)="onFileRemove(i); uploadForm.form.markAsTouched();">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <button mat-button cdkDragHandle>
                                                    <mat-icon>drag_handle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-flex justify-content-between">
                                            <span #display>{{doc.displayName}}</span>
                                            <input #edit trim="blur" hidden="true" type="text"
                                                [ngModel]="doc.displayName"
                                                (ngModelChange)="checkBtn.disabled = doesFileNameAlreadyExist($event)"
                                                [ngModelOptions]="{standalone: true}">
                                            <div>
                                                <button #checkBtn mat-button [style.display]="!edit.hidden? '': 'none'"
                                                    (click)="display.hidden = false;
                                                edit.hidden = true;
                                                onFileNameChange(doc.displayName!, edit.value, doc);
                                                uploadForm.form.markAsTouched();">
                                                    <mat-icon color="accent">check</mat-icon>
                                                </button>
                                                <button #editBtn mat-button [style.display]="edit.hidden ? '': 'none'"
                                                    (click)="display.hidden = true; edit.hidden = false;">
                                                    <mat-icon color="accent">edit</mat-icon>
                                                </button>
                                                <button mat-button
                                                    (click)="onFileRemove(i); uploadForm.form.markAsTouched();">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                                <button mat-button cdkDragHandle>
                                                    <mat-icon>drag_handle</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <mat-divider></mat-divider>
                            <div *ngIf="uploadedFiles.length" class="d-flex justify-content-end my-2">
                                <button mat-raised-button (click)="uploadFiles()">
                                    <mat-icon color="accent">upload</mat-icon> {{ 'property_details.upload' | translate
                                    }}
                                </button>
                            </div>
                        </form>
                    </ng-template>
                </div>
                <mat-list class="pt-2">
                    <mat-list-item *ngFor="let doc of propertyDocuments; let i = index"
                        (mouseenter)="showDocBtns(previewBtn, deleteBtn, downloadBtn)"
                        (mouseleave)="hideDocBtns(previewBtn, deleteBtn, downloadBtn)">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="related-document-date">{{doc.date?.toDate() |
                                    date:'dd/MM/yyyy'}}</span>
                                <div class="d-inline">
                                    {{doc.displayName}}
                                </div>
                            </div>
                            <div>
                                <button style="position: absolute; top: 4px; right: 208px; display: none" mat-button
                                    #previewBtn [matTooltip]="'property_details.preview' | translate"
                                    (click)="previewDoc(doc)">
                                    <mat-icon color="accent">visibility</mat-icon>
                                </button>
                                <button style="position: absolute; top: 4px; right: 128px; display: none" mat-button
                                    #downloadBtn [matTooltip]="'property_details.download' | translate"
                                    (click)="downloadDoc(doc)">
                                    <mat-icon>download</mat-icon>
                                </button>
                                <button style="position: absolute; top: 4px; right: 48px; display: none" mat-button
                                    #deleteBtn [matTooltip]="'property_details.delete' | translate"
                                    (click)="deleteDoc(doc)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
                <div class="pt-2" *ngIf="!property.documents?.length">
                    {{ 'property_details.no_docs' | translate }}
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>

<ng-template #descriptionTpl let-row>
    <div *ngIf="!idsOfinvoicesBeingEdited.includes(row.id); else editDescription">
        {{row.description}}
    </div>
    <ng-template #editDescription>
        <mat-form-field>
            <input matInput [(ngModel)]="row.description">
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #amountTpl let-row>
    <div *ngIf="!idsOfinvoicesBeingEdited.includes(row.id); else editAmt">
        {{row.amount}}
    </div>
    <ng-template #editAmt>
        <mat-form-field>
            <input matInput [(ngModel)]="row.amount">
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #periodTpl let-row>
    <div *ngIf="!idsOfinvoicesBeingEdited.includes(row.id); else editPeriod">
        {{row.paymentWindow}}
    </div>
    <ng-template #editPeriod>
        <mat-form-field>
            <mat-label>{{ 'payment_schedule.begin_date' | translate }}</mat-label>
            <input #beginEdit matInput readonly [value]="row.beginDate.toDate() | date: 'yyyy-MM-dd'"
                [matDatepicker]="beginPicker" (click)="beginPicker.open()"
                (blur)="changeInvoiceBeginDate(row, beginEdit)">
            <mat-datepicker-toggle matSuffix [for]="beginPicker"></mat-datepicker-toggle>
            <mat-datepicker #beginPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'payment_schedule.due_date' | translate }}</mat-label>
            <input #endEdit matInput readonly [value]="row.dueDate.toDate() | date: 'yyyy-MM-dd'"
                [matDatepicker]="endPicker" (click)="endPicker.open()" (blur)="changeInvoiceDueDate(row, endEdit)">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #statusTpl let-row>
    <div *ngIf="!idsOfinvoicesBeingEdited.includes(row.id); else editStatus">
        <span class="pe-1">
            <mat-icon *ngIf="row.status === 'doNotCollect'" style="color: gray">
                block
            </mat-icon>
            <mat-icon *ngIf="row.status === 'unpaid'" style="color: crimson">
                assignment_late_icon
            </mat-icon>
            <mat-icon *ngIf="row.status === 'paid'" style="color: darkblue">
                assignment_turned_in_icon
            </mat-icon>
            <mat-icon *ngIf="row.status === 'paidOut'" style="color: green">
                price_check
            </mat-icon>
        </span>
        <span>{{ 'payment_schedule.' + row.status | translate }}</span>
    </div>
    <ng-template #editStatus>
        <mat-form-field>
            <mat-label>{{ 'payment_schedule.status' | translate }}</mat-label>
            <mat-select [(ngModel)]="row.status">
                <mat-option value="doNotCollect">{{ 'payment_schedule.doNotCollect' | translate }}</mat-option>
                <mat-option value="unpaid">{{ 'payment_schedule.unpaid' | translate }}</mat-option>
                <mat-option value="paid">{{ 'payment_schedule.paid' | translate }}</mat-option>
                <mat-option value="paidOut">{{ 'payment_schedule.paidOut' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>
</ng-template>

<ng-template #actionsTpl let-row>
    <button class="me-1 mat-elevation-z1" mat-raised-button *ngIf="!idsOfinvoicesBeingEdited.includes(row.id)"
        (click)="editInvoice(row)">
        <mat-icon color="accent">edit</mat-icon> {{ 'payment_schedule.edit' | translate }}
    </button>
    <button mat-raised-button class="mat-elevation-z1" *ngIf="!idsOfinvoicesBeingEdited.includes(row.id)"
        (click)="deleteInvoice(row)">
        <mat-icon>delete</mat-icon> {{ 'payment_schedule.delete' | translate }}
    </button>

    <button class="me-2 mat-elevation-z1" mat-raised-button *ngIf="idsOfinvoicesBeingEdited.includes(row.id)"
        (click)="updateInvoice(row)">
        <mat-icon color="accent">save</mat-icon> {{ 'payment_schedule.save' | translate }}
    </button>
    <button class="mat-elevation-z1" mat-raised-button *ngIf="idsOfinvoicesBeingEdited.includes(row.id)"
        (click)="cancelUpdate(row)">
        <mat-icon>close</mat-icon> {{ 'payment_schedule.cancel' | translate }}
    </button>
</ng-template>

<ng-template #deleteConfirmation let-data>
    <div class="row">
        <div class="col-12">{{data.confirmation_msg}}</div>
        <div class="col-12 d-flex justify-content-end">
            <button mat-button color="accent" [mat-dialog-close]="true">{{ 'property_details.delete' | translate
                }}</button>
            <button mat-button [mat-dialog-close]="false">{{ 'property_details.cancel' | translate }}</button>
        </div>
    </div>
</ng-template>

<ng-template #docPreviewTpl let-data>
    <ngx-doc-viewer [url]="data.url" viewer="google" style="width:90%; height:80vh;"></ngx-doc-viewer>
</ng-template>

<ng-template #paymentScheduleEditTpl let-data>
    <div class="h5 pb-1">{{ 'payment_schedule.edit_schedule' | translate }}</div>
    <mat-divider></mat-divider>
    <div class="row pt-2">
        <mat-form-field class="col-12 pb-2">
            <mat-label>{{'payment_schedule.description' | translate }}</mat-label>
            <input matInput [(ngModel)]="data.schedule.description">
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>{{ 'payment_schedule.begin_date' | translate }}</mat-label>
            <input readonly matInput [matDatepicker]="beginDatePicker" type="text"
                [ngModel]="data.schedule.beginDate.toDate() | date: 'yyyy-MM-dd'"
                (ngModelChange)="data.schedule.beginDate = dateToTimestamp($event)" (click)="beginDatePicker.open()">
            <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #beginDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>{{ 'payment_schedule.end_date' | translate }}</mat-label>
            <input readonly matInput type="text" [matDatepicker]="endDatePicker"
                [ngModel]="data.schedule.endDate.toDate() | date: 'yyyy-MM-dd'"
                (ngModelChange)="data.schedule.endDate = dateToTimestamp($event)" (click)="endDatePicker.open()">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="pt-2 d-flex justify-content-end">
        <button class="me-1" mat-raised-button [mat-dialog-close]="true">
            <mat-icon color="accent">save</mat-icon>
            {{ 'payment_schedule.save' | translate }}
        </button>
        <button mat-raised-button [mat-dialog-close]="false">
            <mat-icon>close</mat-icon>
            {{ 'payment_schedule.cancel' | translate }}
        </button>
    </div>
</ng-template>

<ng-template #scheduleUploadTpl let-data>
    <ng-container *ngFor="let sched of newSchedules; let i = index">
        <payment-schedule class="my-1" [schedule]="sched" [editable]="true" [property]="property"
            [columnHeaders]="['description', 'amount', 'paymentWindow']">
        </payment-schedule>
    </ng-container>
    <div class="p-2">
        <button class="me-2" mat-raised-button (click)="addSchedule()">
            <mat-icon>add</mat-icon> {{ 'property_details.add_sched' | translate }}
        </button>
    </div>
    <div class="p-2 d-flex justify-content-end">
        <button mat-raised-button (click)="uploadSchedules()">
            <mat-icon color="accent">upload</mat-icon> {{ 'property_details.upload' | translate }}
        </button>
    </div>
</ng-template>