@use "src/app/styles/colors" as colors;

.property-details-title,
.schedule-title {
    color: colors.$accent-300;
}

.property-details-section-heading {
    font-size: 18px;
}

.related-document-date {
    text-decoration: none !important;
    font-size: 0.75rem;
    color: gray;

    @media screen and (min-width: 600px) {
        padding-right: 5vw;
    }
}