<section *ngIf="property">
    <h1 class="property-details-title">
        <span>{{property.name}}</span>
        <ng-container *ngIf="property.subcategory">({{property.subcategory}})</ng-container>
    </h1>
    <mat-divider></mat-divider>

    <div *ngIf="property.category" class="pt-3">
        <div class="pb-2 text-bold">{{ 'property_details.category' | translate }}</div>
        <div>
            <span *ngIf="property.category === 'Apartment'">{{ 'property_category.apartment' | translate
                }}</span>
            <span *ngIf="property.category === 'Villa'">{{ 'property_category.villa' | translate
                }}</span>
            <span *ngIf="property.category === 'Townhouse'">{{ 'property_category.townhouse' | translate
                }}</span>
            <span *ngIf="property.category === 'Commercial'">{{ 'property_category.commercial' | translate
                }}</span>
        </div>
    </div>

    <div *ngIf="property.address" class="pt-3">
        <div class="pb-2 text-bold">{{ 'property_details.address' | translate }}</div>
        <div>{{property.address}}</div>
    </div>

    <div *ngIf="property.description" class="pt-3">
        <div class="pb-2 text-bold">{{ 'property_details.important_notes' | translate | titlecase }}</div>
        <div [innerHtml]="property.description"></div>
    </div>

    <div class="pt-3">
        <mat-divider></mat-divider>
        <mat-tab-group color="accent">
            <mat-tab [label]="'property_details.activities' | translate">
                <ng-container *ngIf="activities?.length; else noActivity">
                    <activity-list [activities]="activities!" (download)="downloadDoc($event)">
                    </activity-list>
                    <div *ngIf="showViewMoreActivities" class="row">
                        <button class="d-block pt-2" mat-button (click)="getMoreActivities()" color="accent">
                            {{ 'property_details.view_more' | translate }}
                            <mat-icon>keyboard_double_arrow_down_icon</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #noActivity>
                    <div class="pt-3">{{ 'property_details.no_recent_activities' | translate }}</div>
                </ng-template>
            </mat-tab>

            <mat-tab [label]="'property_details.related_documents' | translate">
                <div class="row pt-2" *ngFor="let doc of property.documents">
                    <button mat-button class="col-12 d-flex justify-content-start" (click)="downloadDoc(doc)">
                        <span class="related-document-date">{{doc.date?.toDate() | date:'dd/MM/yyyy'}}</span>
                        <div class="d-inline">
                            {{doc.displayName}}
                        </div>
                        <mat-icon color="accent">download</mat-icon>
                    </button>
                </div>
                <div class="pt-2" *ngIf="!property.documents?.length">
                    {{ 'property_details.no_docs' | translate }}
                </div>
            </mat-tab>

            <mat-tab [label]="'property_details.payment_schedules' | translate">

                <div class="row" *ngIf="schedules?.length; else noSchedules">
                    <div class="col-12 p-3" *ngFor="let schedule of schedules">
                        <payment-schedule [edit]="false" [schedule]="schedule"
                            [columnHeaders]="['description', 'amount', 'paymentWindow', 'status']">
                        </payment-schedule>
                    </div>
                </div>

                <ng-template #noSchedules>
                    <div class="pt-3">No schedules to be shown</div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>